{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}

<body>

&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="container second-portion">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="box">
                        <div class="icon">
                            <img style="padding-top: 45px; padding-bottom: 45px;" src="{% static 'home/images/work-3.png'%}" alt="small-blog" width="100%" height="100%" style="opacity: 0.6;">
                        </div>
                    </div>
                </div>
                <div class="space">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="box">
                <div class="icon">
                    <div class="card">
                        <div class="card-body">
                            <form action="%" class="contact-form" method="post">
                                <b> <p class="text-primary" style="text-align: center;">GET IN TOUCH</p>  </b>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
                                </div>
                                <div class="form-group form_left">
                                    <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" maxlength="11" placeholder="Mobile No." required="">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control textarea-contact" rows="6" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
                                    <br>
                                    <button class="btn btn-default btn-send"> <i class="fa fa-paper-plane" aria-hidden="true"> </i> Send </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="space">
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'home/foot.html' %}

</body>

</html>
