{% load static %}
{% block main %}
<!doctype html>
<html lang="en">
{% include 'home/head.html' %}
  <body>
    <!-- loading -->
    <div id="loading">
      <div id="loading-center">
        <img src="{% static 'home/images/loader.gif'%}" alt="loder">
      </div>
    </div>
    <!-- loading End -->
    <!-- Header -->
    {% include 'home/header.html' %}
    <!-- Header END -->
    <!-- Breadcrumb -->
    <section class="iq-breadcrumb">
      
      <div class="iq-breadcrumb-info">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 align-self-center">
              <h2 class="iq-fw-8 mb-3">Contact Us</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                </ol>
              </nav>
            </div>
            <div class="col-md-5">
              <img src="{% static 'home/images/breadcrumb/contact-us.png'%}" class="img-fluid" alt="image">
            </div>
          </div>
        </div>
      </div>
      <div class="iq-breadcrumb-img">
        <img src="{% static 'home/images/breadcrumb/02.png'%}" class="img-fluid breadcrumb-two" alt="image">
      </div>
    </section>
    <!-- Breadcrumb END -->
    <!-- Main Content -->
    <div class="main-content">
      
      <section class="iq-contact-us pb-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-title mb-4">
                <h2 class="title iq-fw-8">Contact Form</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="project-form mb-3">
                <div class="row">
                  
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control contact-first-name"   placeholder="First Name">
                      
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control contact-phone"   placeholder="Phone Number">
                      
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control contact-email"   placeholder="Email">
                      
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <textarea class="form-control contact-message" placeholder="Type Your Requirement" ></textarea>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-lg-12">
              <a class="slide-button button contact-us-button" href="#">
                <div class="first">Submit</div>
                <div class="second">Submit</div>
              </a>
              
            </div>
          </div>
          
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 ">
              <div class="row">
                <div class="col-lg-6">
                  
                  <h2 class="title iq-fw-8">Get in Touch</h2>
                  <p></p>
                  
                  <div class="iq-address mt-3">
                    <div class="media ">
                      
                      <div class="mr-3 contact-icon float-left"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <div class="media-body">
                        
                        <p>Carol J. Stephens 1635 Franklin, Montgomery,<br><span class="iq-fw-5"> AL 36104 USA</span></p>
                      </div>
                    </div>
                    <div class="media ">
                      
                      <div class="mr-3 contact-icon float-left"><i class="fas fa-envelope "></i> </div>
                      <div class="media-body">
                        
                        <p class="iq-fw-5" ><a href="https://iqonicthemes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6ebc7cfcae6c2cfc1cfd2c7cacbc7d4cdc3d2cfc8c188c5c9cb">[email&#160;protected]</a></p>
                      </div>
                    </div>
                    <div class="media ">
                      <div class="mr-3 contact-icon float-left"><i class="fa fa-phone" ></i> </div>
                      
                      <div class="media-body">
                        
                        <p class="iq-fw-5">0 123 456 789</p>
                      </div>
                    </div>
                    <div class="social-media mt-4 ">
                      <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter "></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Main Content END -->
    <div class="clearfix"></div>
    {% include 'home/footer.html' %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include 'home/script.html' %}
  </body>
</html>
{% endblock %}