{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

{% include 'home/head.html' %}

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light top-nav" id="ftco-navbar">
    <div class="container">
        <a href="/" class="inverted1"><img src="{% static 'home/images/jcollect_logo.png'%}" alt="jcollect_home"></a>
        <a href="/" class="inverted2"><img src="{% static 'home/images/jcollect_logo_inv.png'%}" alt="jcollect_home"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a href="faq.html" class="nav-link">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link"> <i class="fa fa-sign-in"> </i> Sign in</a>
                </li>
                <li class="nav-item cta">
                    <a href="register.html" class="nav-link"><span> <i class="fa fa-user-plus"> </i> Register</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="faq content-area-9">
    <div class="container">
        <div class="main-title text-center">
            <h1>FAQs</h1>
            <p>Check out frequently asked questions and answers.</p>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div id="faq" class="faq-accordion">
                    <div class="card m-b-0">
                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse1">
                                How can I add Money to my Wallet ?
                            </a>
                        </div>
                        <div id="collapse1" class="card-block collapse">
                            <div class="p-text">
                                You will need a jcollect account to load your wallet, once you create an account, then you can follow the user friendly steps to add money, transfer money, and make several transactions from your wallet.
                            </div>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse2">
                                How can I add Money to my Wallet ?
                            </a>
                        </div>
                        <div id="collapse2" class="card-block collapse">
                            <div class="p-text">
                                You will need a jcollect account to load your wallet, once you create an account, then you can follow the user friendly steps to add money, transfer money, and make several transactions from your wallet.
                            </div>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse3">
                                How can I add Money to my Wallet ?
                            </a>
                        </div>
                        <div id="collapse3" class="card-block collapse">
                            <div class="p-text">
                                You will need a jcollect account to load your wallet, once you create an account, then you can follow the user friendly steps to add money, transfer money, and make several transactions from your wallet.
                            </div>
                        </div>
                        <div class="card-header bd-none">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse4">
                                How can I add Money to my Wallet ?
                            </a>
                        </div>
                        <div id="collapse4" class="card-block collapse">
                            <div class="p-text">
                                You will need a jcollect account to load your wallet, once you create an account, then you can follow the user friendly steps to add money, transfer money, and make several transactions from your wallet.
                            </div>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse5">
                                How can I add Money to my Wallet ?
                            </a>
                        </div>
                        <div id="collapse5" class="card-block collapse">
                            <div class="p-text">
                                You will need a jcollect account to load your wallet, once you create an account, then you can follow the user friendly steps to add money, transfer money, and make several transactions from your wallet.
                            </div>
                        </div>
                        <div class="card-header bd-none">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse6">
                                How can I add Money to my Wallet ?
                            </a>
                        </div>
                        <div id="collapse6" class="card-block collapse">
                            <div class="p-text pb-10">
                                You will need a jcollect account to load your wallet, once you create an account, then you can follow the user friendly steps to add money, transfer money, and make several transactions from your wallet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% include 'home/foot.html' %}

</body>

</html>