{% load static %}
<footer class="footer-one footer-bg  position-relative">
    <img src="{% static 'home/images/footer/4.png'%}" class="img-fluid fshap-after" alt="image">
    <div class="iq-subscribe pattern-left  container position-relative" id="iq-subscribe">
        <div class="pattern-right">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="title-box text-left ">
                        {% for message in messages %}
                            <p class="text-white iq-fw-4 mb-0">{{ message }}</p>
                        {% endfor %}
                        <h2 class="title mb-3 text-white">Let's Discuss</h2>
                        <p class="text-white iq-fw-4 mb-0">Subscribe to our Newsletter to get update on all our offers.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <form class="position-relative subscribe-form mt-5 mt-lg-0" method="post" action="subscribe">
                        {% csrf_token %}
                        <div class="form-group mb-0">
                            <input type="email" name="subscribe" class="form-control position-relative subscription-email  mb-0" placeholder="Enter Email">
                        </div>
                        <button type="submit" name="submit" class="slide-button button bt-subscribe subscription-button " >
                            <div class="first">Subscribe</div>
                            <div class="second">Subscribe</div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contactinfo">
        <div class="container p-0">
            <div class="row ">
                <div class="col-lg-4 col-md-6">
                    <div class="iq-footer-logo">
                        <a href="index"><img src="{% static 'home/images/jcollect.png'%}" width="150" class="img-fluid" alt="image"></a>
                    </div>
                    <div class="footer-copyright mb-4 iq-fw-5 mt-3">&copy;Copyrights {% now "Y" %} jCollect</div>
                    <div>
                        <div class="lang float-left">
                            <i class="fas fa-globe"></i>
                            <select name="languagelist"  class="iq-language iq-fw-4">
                                <option value="volvo">English</option>
                                <option value="saab">French</option>
                                <option value="opel">Persian</option>
                                <option value="audi">Arabic</option>
                            </select>
                        </div>
                        <div class="social-media d-inline-block float-left ml-4">
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f iq-fw-6"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter iq-fw-6"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-linkedin iq-fw-6"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact mt-4 d-inline-block">
                        <a href="tel:0123456789"> <i class="fa fa-phone"></i><span class="iq-fw-5"> +234(80)223-014-77</span></a>
                        <div class="email d-inline-block"><a href="Mail:mail@markethon.com"> <span class="__cf_email__" data-cfemail="2d404c44416d404c5f464859454243034e4240">[email&#160;protected]</span></a></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-link">
                    <h5 class="iq-fw-7 riq-mt-40">Links</h5>
                    <ul class="list-inline rmb-40">
                        <li class="list-item"><a href="index">Home</a></li>
                        <li class="list-item"><a href="about">About us</a></li>
                        <li class="list-item"><a href="#">FAQ</a></li>
                        <li class="list-item"><a href="service">Services</a></li>
                        <li class="list-item"><a href="#">Developer</a></li>
                        <li class="list-item"><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-link">
                    <h5 class="iq-fw-7 ">Information</h5>
                    <ul class="list-inline">
                        <li class="list-item"><a href="#">Pricing</a></li>
                        <li class="list-item"><a href="policy">Privacy Policy</a></li>
                        <li class="list-item"><a href="#">The Team</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="testimonials">
                        <div id="iqtestimonials" class="owl-carousel riq-mt-40" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15">
                            <div class="item">
                                <div class="desc">
                                    <p class="mb-0">Progravida <span class="text-black iq-fw-7">#nibh vel velit auctor</span> alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum. <a href="javascript:void(0)#" class="text-black iq-fw-7">https://iqonicthemes.com</a></p>
                                </div>
                                <div class="author">
                                    <div class="float-left d-flex mr-3">
                                        <i class="fab fa-twitter text-white"></i>
                                    </div>
                                    <div class=" float-left ">
                                        <div class="overview">
                                            <a>
                                                <h6 class="name text-black mb-0">iqonicthemes</h6>
                                            </a>
                                            <div class="details">2 Months Ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="desc">
                                    <p class="mb-0">Progravida <span class="text-black iq-fw-7">#nibh vel velit auctor</span> alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum. <a href="javascript:void(0)" class="text-black iq-fw-7">https://iqonicthemes.com</a></p>
                                </div>
                                <div class="author">
                                    <div class="float-left d-flex mr-3">
                                        <i class="fab fa-twitter text-white"></i>
                                    </div>
                                    <div class=" float-left ">
                                        <div class="overview">
                                            <h6 class="name text-black mb-0">iqonicthemes</h6>
                                            <div class="details">2 Months Ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="desc">
                                    <p class="mb-0">Progravida <span class="text-black iq-fw-7">#nibh vel velit auctor</span> alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum. <a href="javascript:void(0)" class="text-black iq-fw-7">https://iqonicthemes.com</a></p>
                                </div>
                                <div class="author">
                                    <div class="float-left d-flex mr-3">
                                        <i class="fab fa-twitter text-white"></i>
                                    </div>
                                    <div class=" float-left ">
                                        <div class="overview">
                                            <h6 class="name text-black mb-0">iqonicthemes</h6>
                                            <div class="details">2 Months Ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"><i class="ion-ios-arrow-thin-up"></i></a>
    </div>
    <!-- back-to-top End -->
</footer>