{% load static %}
<script src="{% static 'home/js/jquery.min.js'%}"></script>
<script src="{% static 'home/js/jquery-migrate-3.0.1.min.js'%}"></script>
<script src="{% static 'home/js/popper.min.js'%}"></script>
<script src="{% static 'home/js/bootstrap.min.js'%}"></script>
<script src="{% static 'home/js/jquery.easing.1.3.js'%}"></script>
<script src="{% static 'home/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'home/js/jquery.stellar.min.js'%}"></script>
<script src="{% static 'home/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'home/js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'home/js/aos.js'%}"></script>
<script src="{% static 'home/js/particles.js'%}"></script>
<script src="{% static 'home/js/jquery.animateNumber.min.js'%}"></script>
<script src="{% static 'home/js/bootstrap-datepicker.js'%}"></script>
<script src="{% static 'home/js/scrollax.min.js'%}"></script>
<script src="{% static 'home/js/mainac56.js'%}"></script>