<footer class="short" id="footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="heading-primary">About JCollect</h4>
                      <p>Jcollect is an online wallet and ...</p>
                  </div>
                  <div class="col-md-2">
                    <h5 class="mb-sm">Company</h5>
                    <p> <a href="#projects" class="nav-link">Our Features</a></p>
                    <p> <a href="faq.html" class="nav-link">FAQs</a></p>
                  </div>
                  <div class="col-md-2">
                    <h5 class="mb-sm">Agreement</h5>
                    <p> <a href="terms.html" class="nav-link"> Our Terms</a></p>
                  </div>
                  <div class="col-md-3 offset-md-1">
                    <h5 class="mb-sm">Contact</h5>
                    <p> <i class="fa fa-map-marker"> </i>  &nbsp   Oyo State.</p>
                    <p> <i class="fa fa-volume-control-phone"> </i>  &nbsp   (234) 80-4567-6670</p>
                    <p> <i class="fa fa-envelope"> </i>   &nbsp   <a href="mailto:help@jcollect.io">help@jcollect.io</a></p>
                    <ul class="social-icons">
                        <li class="social-icons-facebook">
                            <a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="social-icons-linkedin">
                            <a href="#" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>© 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>