{% load static %}
<head>

    <title>JCollect</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jcollect is a trusted and secured wallet for financial transactions and integration into financial solutions.">
    <meta name="keywords" content="jcollect, jcollect.io, Jpay, Jrealm, ">
    <meta name="author" content="jcollect.io, jcollect, ">


    <link rel="stylesheet" href="{% static 'home/fonts/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/index/theme.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/index/theme-elements.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/index/skins/default.css'%}">
    <link rel = "icon" type = "image/x-icon" href = "{% static 'home/images/favicon.png'%}"/>
    <link rel = "shortcut icon" type = "image/x-icon" href = "{% static 'home/images/favicon.png'%}"/>
    <link rel="stylesheet" href="{% static 'home/css/open-iconic-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.timepicker.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/icomoon.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/customac56.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/app/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/app/style.css'%}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'home/css/app/skins/midnight-blue.css'%}">
    {#    <link rel="manifest" href="{% static 'home/js/manifest.html'%}">#}

</head>