{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light top-nav" id="ftco-navbar">
    <div class="container">
        <a href="" class="inverted1">
            <img src="{% static 'home/images/jcollect_logo.png'%}" alt="jcollect_home">
        </a>
        <a href="" class="inverted2">
            <img src="{% static 'home/images/jcollect_logo_inv.png'%}" alt="jcollect_home">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a href="#projects" class="nav-link"> Features</a>
                </li>
                <li class="nav-item">
                    <a href="contact" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="faq" class="nav-link">FAQs</a>
                </li>
                {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="/account/logout" class="nav-link"> <i class="fa fa-sign-in"> </i> Logout</a>
                        </li>
                        <li class="nav-item cta">
                            <a href="/account/dashboard" class="nav-link"><span> <i class="fa fa-user-plus"> </i> Dashboard</span></a>
                        </li>
                {% elif not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/account/login" class="nav-link"> <i class="fa fa-sign-in"> </i> Sign in</a>
                    </li>
                    <li class="nav-item cta">
                        <a href="/account/register" class="nav-link"><span> <i class="fa fa-user-plus"> </i> Register</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>