{% load static %}
{% block main %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>J-Wallet - Easy way to make Payment online</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
    <!-- Settings CSS -->
    <link rel="stylesheet" href="{% static 'home/revslider/css/settings.css'%}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static 'home/css/typography.css'%}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css'%}">
  </head>
{% endblock %}