{% load static %}
<!DOCTYPE html>

<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

{% include 'home/head.html' %}

<body>

{% include 'home/header.html' %}

<div class="hero-wrap">
    <div class="overlay" id="particles-js">

    </div>
    <div class="container-fluid">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">
            <div class="one-forth ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4"> Seamless Transactions &amp; Integration...
                </h1>
                <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    Perform seamless financial transactions and <br>
                    integration into your financial <strong>SOLUTIONS</strong>
                </p>
                <p><a href="/account/register" class="btn btn-primary px-4 py-3">Get Started</a></p>
                <div>

                </div>
                <br>
            </div>

            <div class="one-half align-self-md-end align-self-sm-center">
                <div class="slider-carousel owl-carousel">
                    <div class="item">
                        <img src="{% static 'home/images/5.png'%}" class="img-fluid img"alt="jcollect_bg">
                    </div>
                    <div class="item">
                        <img src="{% static 'home/images/6.png'%}" class="img-fluid img"alt="jcollect_bg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content grayback" id="projects">
    <div class="container _center securealertbox">
        <div class="imagepart col-md-6">
            <img src="{% static 'home/images/security.png'%}" alt="">
        </div>

        <div class="textpart">
            <div class="textheader bluecolor bold">Your Security is our Priority</div>
            <div class="textinfo ashcolor"><b>Jcollect </b> uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encryption to ensure that your information is completely protected from fraud.</div>
        </div>
    </div>
</section>

<br>

<div class="row">
    <div class="col-md-12 center">
        <h3> <div class="textheader bluecolor bold"> Features </div> </h3>
        <p class="font-size-md">Your Financial dealings just got easy with Jcollect, find out what we have to offer...</p>
    </div>
</div>

<div class="container">
    <div class="row mt-xl mb-xl">
        <div class="col-md-3">
            <img class="img-responsive mt-xl appear-animation" src="{% static 'home/images/top-quality-documentation.png'%}" alt="" data-appear-animation="fadeInLeft">
        </div>
        <div class="col-md-9">
            <h2 class="mt-xl"> <strong>Virtual</strong> Card</h2>
            <p>
                Want to pay online? Use our virtual card for easy online payment.
            </p>
        </div>
    </div>
</div>

<section class="section section-default">
    <div class="container">
        <div class="row mt-xl mb-xl">
            <div class="col-md-9">
                <h2 class="mt-xl"> Robust <strong>Invoice management</strong></h2>
                <p>
                    Track your invoices and transaction histories. </p>
            </div>

            <div class="col-md-3">
                <img class="img-responsive mt-xl appear-animation" src="{% static 'home/images/updates.png'%}" alt="" data-appear-animation="fadeInLeft">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mt-xl mb-xl">
        <div class="col-md-3">
            <img class="img-responsive mt-xl appear-animation" src="{% static 'home/images/10111.png'%}" alt="" data-appear-animation="fadeInLeft">
        </div>
        <div class="col-md-9">
            <h2 class="mt-xl"> <strong>Security</strong></h2>
            <p>
                Jcollect uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encryption to ensure that your information is completely protected from fraud..
            </p>
        </div>
    </div>
</div>

<section class="section section-default">
    <div class="container">
        <div class="row mt-xl mb-xl">
            <div class="col-md-9">
                <h2 class="mt-xl"> Swift <strong>Integration</strong></h2>
                <p>
                    Integrate a secure and user-friendly API with your website for billing customers.
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive mt-xl appear-animation" src="{% static 'home/images/1000.png'%}" alt="" data-appear-animation="fadeInLeft">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mt-xl mb-xl">
        <div class="col-md-3">
            <img class="img-responsive mt-xl appear-animation" src="{% static 'home/images/responsive-ready.png'%}" alt="" data-appear-animation="fadeInLeft">
        </div>
        <div class="col-md-9">
            <h2 class="mt-xl">Responsive <strong> Design</strong></h2>
            <p>
                Jcollect scales well on all types on devices.
            </p>
        </div>
    </div>
</div>

<section class="section section-default">
    <div class="container">
        <div class="row mt-xl mb-xl">
            <div class="col-md-9">
                <h2 class="mt-xl"> Load <strong>Wallet</strong> </h2>
                <p>
                    Send and receive money from anywhere in the world.
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive mt-xl appear-animation" src="{% static 'home/images/101.png'%}" alt="" data-appear-animation="fadeInLeft">
            </div>
        </div>
    </div>
</section>

<section class="feature-section--has-padding others" style = "margin-top: 0;">
    <div class="container">
        <div class="grid">
            <div class="grid__column grid__column--12" align="center">
                <h2 class="home-section-header__primary-title global-u-text-center">Create Jcollect Account!</h2>
                <p class="home-section-header__secondary-title--hero-caption global-u-text-center">Open your Jcollect account, complete transactions easily with your wallet
                </p>
            </div>
            <center>
                <a href="register.html" class="global-u-show-on-mobile button button--accent-2 button--large button--rounded">Sign
                    up now</a>
            </center>
        </div>
    </div>
</section>

<section class="call-to-action call-to-action-primary call-to-action-front mb-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action-content align-left pb-md mb-xl ml-none">
                    <h2 class="text-color-light mb-none mt-xl">Start integrating <strong>Jcollect</strong> in your financial solutions
                    </h2>
                    <p class="lead mb-xl">With seamless and fast services</p>
                </div>
                <div class="call-to-action-btn">
                    <a href="contact.html" target="_blank" class="btn btn-lg btn-primary btn-primary-scale-2 mr-md">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'home/footer.html' %}
{% include 'home/foot.html' %}
</body>
</html>
