{% load static %}
<!doctype html>
<html lang="en">
{% include 'home/head.html' %}
  <body>
    <!-- loading -->
    <div id="loading">
      <div id="loading-center">
        <img src="{% static 'home/images/loader.gif'%}" alt="loder">
      </div>
    </div>
    <!-- loading End -->
    <!-- Header -->
    {% include 'home/header.html' %}
    <!-- Header END -->
    <!-- Banner -->
    <div class="iq-banner">
      <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="marketive-1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
      <div id="rev_slider_3_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.2.6">
        <ul>  <!-- SLIDE  -->
        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="600"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static 'home/revslider/assets/02f6c-bg.jpg'%}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <h1 class="tp-caption   tp-resizeme"
          id="slide-2-layer-14"
          data-x="29"
          data-y="center" data-voffset="-105"
          data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

          data-transform_in="x:50px;opacity:0;s:1000;e:Power4.easeInOut;"
          data-transform_out="opacity:0;s:300;"
          data-start="500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"

          style="z-index: 5; white-space: nowrap; font-size: 60px; line-height: 70px; font-weight: 700; color: rgba(27, 14, 61, 1.00);font-family:Nunito;">More Possibilities <br> with jCollect </h1>
          <!-- LAYER NR. 2 -->
          <p class="tp-caption   tp-resizeme"
            id="slide-2-layer-2"
            data-x="30"
            data-y="center" data-voffset="22"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 32px; font-weight: 400; color: rgba(134, 136, 148, 1.00);font-family:Poppins;">With jCollect, Sending & Receiving of Money  <br> Made easy. </p>
          <!-- LAYER NR. 3 -->
          <div class="tp-caption rev-btn button button-sm rev-withicon  tp-resizeme rs-hover-ready"
            id="slide-2-layer-4"
            data-x="29"
            data-y="480"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(124, 96, 213, 1.00);"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;e:Back.easeIn;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 50px;height:auto; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Nunito;padding:0px 35px 0px 35px;border-color:rgba(0, 0, 0, 1.00);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/account/register">SignUp</a></div>
          <!-- LAYER NR. 4 -->
          <span class="tp-caption   tp-resizeme"
            id="slide-2-layer-13"
            data-x="31"
            data-y="538"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 32px; font-weight: 400; color: rgba(134, 136, 148, 1.00);font-family:Poppins;">*Create Account Today! </span>
          <!-- LAYER NR. 5 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-5"
            data-x="727"
            data-y="166"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1020"
            data-responsive_offset="on"

          style="z-index: 9;"><img src="{% static 'home/revslider/assets/edad9-08.png'%}" alt="" data-ww="636px" data-hh="411px" data-no-retina> </div>
          <!-- LAYER NR. 6 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-7"
            data-x="895"
            data-y="238"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;e:Back.easeIn;"
            data-start="1350"
            data-responsive_offset="on"

          style="z-index: 10;"><img src="{% static 'home/revslider/assets/69d21-04.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 7 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-8"
            data-x="1045"
            data-y="235"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;e:Back.easeIn;"
            data-start="1360"
            data-responsive_offset="on"

          style="z-index: 11;"><img src="{% static 'home/revslider/assets/77014-05.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 8 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-9"
            data-x="1196"
            data-y="231"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;e:Back.easeIn;"
            data-start="1390"
            data-responsive_offset="on"

          style="z-index: 12;"><img src="{% static 'home/revslider/assets/7ae95-06.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 9 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-17"
            data-x="858"
            data-y="330"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2620"
            data-responsive_offset="on"

          style="z-index: 13;"><img src="{% static 'home/revslider/assets/b2422-10.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 10 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-15"
            data-x="798"
            data-y="491"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1880"
            data-responsive_offset="on"

          style="z-index: 14;"><img src="{% static 'home/revslider/assets/bc86e-12.png'%}" alt="" data-ww="537px" data-hh="250px" data-no-retina> </div>
          <!-- LAYER NR. 11 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-16"
            data-x="1128"
            data-y="353"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2360"
            data-responsive_offset="on"

          style="z-index: 15;"><img src="{% static 'home/revslider/assets/b1482-09.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 12 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-2-layer-18"
            data-x="764"
            data-y="342"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2750"
            data-responsive_offset="on"

          style="z-index: 16;"><img src="{% static 'home/revslider/assets/b33c3-11.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static 'home/revslider/assets/02f6c-bg.jpg'%}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <h1 class="tp-caption   tp-resizeme"
          id="slide-3-layer-14"
          data-x="31"
          data-y="221"
          data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

          data-transform_in="x:50px;opacity:0;s:1000;e:Power4.easeInOut;"
          data-transform_out="opacity:0;s:300;"
          data-start="500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"

          style="z-index: 5; white-space: nowrap; font-size: 60px; line-height: 70px; font-weight: 700; color: rgba(27, 14, 61, 1.00);font-family:Nunito;">It's good to stand  <br> for something </h1>
          <!-- LAYER NR. 2 -->
          <p class="tp-caption   tp-resizeme"
            id="slide-3-layer-2"
            data-x="35"
            data-y="394"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 32px; font-weight: 400; color: rgba(134, 136, 148, 1.00);font-family:Poppins;">With jCollect Pay-me link, None user of the wallet can pay you <br> from anywhere around the world. </p>
          <!-- LAYER NR. 3 -->
          <div class="tp-caption rev-btn button button-sm rev-withicon  tp-resizeme rs-hover-ready"
            id="slide-3-layer-4"
            data-x="33"
            data-y="489"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(124, 96, 213, 1.00);"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;e:Back.easeIn;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

               style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 50px;height:auto; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Nunito;padding:0 35px 0 35px;border-color:rgba(0, 0, 0, 1.00);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/account/register">SignUp</a></div>
          <!-- LAYER NR. 4 -->
          <span class="tp-caption   tp-resizeme"
            id="slide-3-layer-13"
            data-x="30"
            data-y="544"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 32px; font-weight: 400; color: rgba(134, 136, 148, 1.00);font-family:Poppins;">*Create Account Today! </span>
          <!-- LAYER NR. 5 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-15"
            data-x="696"
            data-y="166"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1320"
            data-responsive_offset="on"

          style="z-index: 9;"><img src="{% static 'home/revslider/assets/618b3-09.png'%}" alt="" data-ww="607px" data-hh="449px" data-no-retina> </div>
          <!-- LAYER NR. 6 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-18"
            data-x="746"
            data-y="213"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1720"
            data-responsive_offset="on"

          style="z-index: 10;"><img src="{% static 'home/revslider/assets/46e39-02.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 7 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-16"
            data-x="1147"
            data-y="382"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1920"
            data-responsive_offset="on"

          style="z-index: 11;"><img src="{% static 'home/revslider/assets/ca039-06.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 8 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-17"
            data-x="750"
            data-y="384"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1920"
            data-responsive_offset="on"

          style="z-index: 12;"><img src="{% static 'home/revslider/assets/46281-03.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 9 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-19"
            data-x="881"
            data-y="383"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1920"
            data-responsive_offset="on"

          style="z-index: 13;"><img src="{% static 'home/revslider/assets/ca039-06.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 10 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-20"
            data-x="1015"
            data-y="383"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1010;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1920"
            data-responsive_offset="on"

          style="z-index: 14;"><img src="{% static 'home/revslider/assets/ca039-06.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 11 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-21"
            data-x="758"
            data-y="505"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1920"
            data-responsive_offset="on"

          style="z-index: 15;"><img src="{% static 'home/revslider/assets/cbb91-07.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 12 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-24"
            data-x="692"
            data-y="444"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2480"
            data-responsive_offset="on"

          style="z-index: 16;"><img src="{% static 'home/revslider/assets/34673-14.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 13 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-25"
            data-x="914"
            data-y="302"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2690"
            data-responsive_offset="on"

          style="z-index: 17;"><img src="{% static 'home/revslider/assets/63023-12.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 14 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-22"
            data-x="809"
            data-y="595"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2930"
            data-responsive_offset="on"

          style="z-index: 18;"><img src="{% static 'home/revslider/assets/41966-15.png'%}" alt="" data-ww="436px" data-hh="172px" data-no-retina> </div>
          <!-- LAYER NR. 15 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-3-layer-23"
            data-x="1097"
            data-y="442"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2220"
            data-responsive_offset="on"

          style="z-index: 19;"><img src="{% static 'home/revslider/assets/b7030-13.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="{% static 'home/revslider/assets/02f6c-bg.jpg'%}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <h1 class="tp-caption   tp-resizeme"
          id="slide-4-layer-14"
          data-x="30"
          data-y="center" data-voffset="-100"
          data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"

          data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
          data-transform_out="s:300;"
          data-start="490"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"

          style="z-index: 5; white-space: nowrap; font-size: 60px; line-height: 70px; font-weight: 700; color: rgba(27, 14, 61, 1.00);font-family:Nunito;">Grow your business <br>with jCollect </h1>
          <!-- LAYER NR. 2 -->
          <p class="tp-caption   tp-resizeme"
            id="slide-4-layer-2"
            data-x="34"
            data-y="center" data-voffset="28"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 32px; font-weight: 400; color: rgba(134, 136, 148, 1.00);font-family:Poppins;">Grow your business by making use of  <br> available tools on jCollect </p>
          <!-- LAYER NR. 3 -->
          <div class="tp-caption rev-btn button button-sm rev-withicon  tp-resizeme rs-hover-ready"
            id="slide-4-layer-4"
            data-x="33"
            data-y="center" data-voffset="120"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(124, 96, 213, 1.00);"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;e:Back.easeIn;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

               style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 50px; height:auto;font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Nunito;padding:0px 35px 0px 35px;border-color:rgba(0, 0, 0, 1.00);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="/account/register">SignUp</a></div>
          <!-- LAYER NR. 4 -->
          <span class="tp-caption   tp-resizeme"
            id="slide-4-layer-13"
            data-x="30"
            data-y="center" data-voffset="170"
            data-width="['auto']"
            data-height="['auto']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="500"
            data-splitin="none"
            data-splitout="none"
            data-responsive_offset="on"

          style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 32px; font-weight: 400; color: rgba(134, 136, 148, 1.00);font-family:Poppins;">*Create Account Today! </span>
          <!-- LAYER NR. 5 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-15"
            data-x="737"
            data-y="165"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1670"
            data-responsive_offset="on"

          style="z-index: 9;"><img src="{% static 'home/revslider/assets/17ea3-01.png'%}" alt="" data-ww="628px" data-hh="405px" data-no-retina> </div>
          <!-- LAYER NR. 6 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-17"
            data-x="892"
            data-y="254"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:1000;e:Power3.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2040"
            data-responsive_offset="on"

          style="z-index: 10;"><img src="{% static 'home/revslider/assets/69d21-04.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 7 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-18"
            data-x="1028"
            data-y="255"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
            data-start="2040"
            data-responsive_offset="on"

          style="z-index: 11;"><img src="{% static 'home/revslider/assets/77014-05.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 8 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-19"
            data-x="1174"
            data-y="252"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:1000;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2040"
            data-responsive_offset="on"

          style="z-index: 12;"><img src="{% static 'home/revslider/assets/7ae95-06.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 9 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-20"
            data-x="1179"
            data-y="375"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:980;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2040"
            data-responsive_offset="on"

          style="z-index: 13;"><img src="{% static 'home/revslider/assets/69d21-04.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 10 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-22"
            data-x="893"
            data-y="378"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2040"
            data-responsive_offset="on"

          style="z-index: 14;"><img src="{% static 'home/revslider/assets/242a2-08.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 11 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-23"
            data-x="1033"
            data-y="377"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="2040"
            data-responsive_offset="on"

          style="z-index: 15;"><img src="{% static 'home/revslider/assets/7ae95-06.png'%}" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div>
          <!-- LAYER NR. 12 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-4-layer-24"
            data-x="727"
            data-y="377"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1690"
            data-responsive_offset="on"

          style="z-index: 16;"><img src="{% static 'home/revslider/assets/a805a-11.png'%}" alt="" data-ww="217px" data-hh="328px" data-no-retina> </div>
          <!-- LAYER NR. 13 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-4-layer-25"
            data-x="1144"
            data-y="388"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1690"
            data-responsive_offset="on"

          style="z-index: 17;"><img src="{% static 'home/revslider/assets/b3bdd-12.png'%}" alt="" data-ww="225px" data-hh="311px" data-no-retina> </div>
          <!-- LAYER NR. 14 -->
          <div class="tp-caption   tp-resizeme"
            id="slide-4-layer-27"
            data-x="1027"
            data-y="495"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-transform_idle="o:1;"

            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1000;e:Power4.easeOut;"
            data-transform_out="opacity:0;s:300;"
            data-start="1910"
            data-responsive_offset="on"

          style="z-index: 18;"><img src="{% static 'home/revslider/assets/64173-15.png'%}" alt="" data-ww="59px" data-hh="37px" data-no-retina> </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
    </div>
    </div>

    <!-- Banner END -->
    <!-- Main Content -->
    <div class="main-content">
      <!-- Works -->
      <section class="iq-works main-bg position-relative">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="section-title">
                <p class="mt-2 text-uppercase text-white iq-fw-3 iq-ls-3">it's perfect way</p>
                <h2 class="title text-white  iq-fw-8">How Does jCollect Merchant Works</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 text-center">
              <div class="iq-workinfo">
                <div class="service-shap  mb-4 iq-rmt-40">
                  <img src="{% static 'home/images/work/01.png'%} class="img-fluid " alt="">
                </div>
                <h3 class="title text-white">1. Register</h3>
                <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1"></span>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="iq-workinfo">
                <div class="service-shap  mb-4 iq-rmt-40">
                  <img src="{% static 'home/images/work/02.png'%}" class="img-fluid " alt="">
                </div>
                <h3 class="title text-white">2. Become</h3>
                <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">Merchant</span>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="iq-workinfo">
                <div class="service-shap  mb-4 iq-rmt-40">
                  <img src="{% static 'home/images/work/03.png'%}" class="img-fluid " alt="">
                </div>
                <h3 class="title text-white">3. Integrate</h3>
                <span class="mb-0 text-uppercase text-white iq-fw-3 iq-ls-1">To your website</span>
              </div>
            </div>
          </div>
        </div>
        <div class="iq-way">
          <img src="{% static 'home/images/work/2.png'%}" class="img-fluid"  alt="image">
        </div>
      </section>
      <!-- Works END -->
      <div class="iq-video overview-block-pb position-relative">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9">

            </div>
          </div>
        </div>
      </div>
      <!-- Choose From  -->
      <section class="iq-choose-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Best Ever Services</p>
                        <h2 class="title iq-fw-8">Best Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="services purple">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-cash"></i></div>
                            <h5 class="float-left mt-4">Fund Transfer/Received</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">You can send and receive money from anywhere in the world and receive it to your wallet. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services purple">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-code"></i></div>
                            <h5 class="float-left mt-4">Merchant Integration</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">By Integrating of simple API, you can collect money from your customer online. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services purple mb-lg-0">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-android-laptop"></i></div>
                            <h5 class="float-left mt-4">Voucher</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">You can create voucher pin and can load voucher sent to you. the amount of the voucher will be added to your account.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services purple mb-lg-0">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-android-send"></i></div>
                            <h5 class="float-left mt-4">Invoice</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">Get paid by sending invoice to your customer. With this, you can receive money around the world with ease.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- Choose From END -->
      <!-- Choose From  -->
      <section class="iq-solutions position-relative iq-rmt-40">
        <div class="container">
          <div class="row flex-row-reverse">
            <div class="col-lg-6 align-self-center wow fadeInRight">
              <h2 class="iq-fw-8 mb-2">Our User Satifaction Is Our Commitment</h2>
              <p class="mb-3"></p>

              <div class="progressbar text-center " data-animate="false">
                <div class="circle green" data-percent="92">
                  <div>92%</div>
                  <p class="iq-progress-bar-text mt-3 font-c iq-fw-8 text-black">Merchant</p>
                </div>
              </div>
              <div class="progressbar text-center light-purple" data-animate="false">
                <div class="circle light-purple" data-percent="90">
                  <div>90%</div>
                  <p class="iq-progress-bar-text mt-3 font-c iq-fw-8 text-black">Developer</p>
                </div>
              </div>
              <div class="progressbar text-center purple" data-animate="false">
                <div class="circle purple" data-percent="95">
                  <div>95%</div>
                  <p class="iq-progress-bar-text mt-3 font-c iq-fw-8 text-black">Flexibility</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInLeft">
              <img src="{% static 'home/images/others/2.jpg'%}" class="img-fluid iq-rmt-40" alt="image">
            </div>
          </div>
        </div>
      </section>
      <!-- Choose From END -->
      <div class="iq-clients overview-block-ptb w-100  pt-0 d-inline-block">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="section-title">
                <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">our partners</p>
{#                <h2 class="title iq-fw-8">Customers who love us</h2>#}
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div id="clients-slider" class="owl-carousel owl-theme owl-loaded " data-dots="false" data-nav="false" data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="2" data-autoplay="true" data-margin="30">
              <div class="clients-box">
                <img src="{% static 'home/images/clients/9.png'%}" class="img-fluid " alt="">
              </div>
              <div class="clients-box">
                <img src="{% static 'home/images/clients/10.png'%}" class="img-fluid " alt="">
              </div>
              <div class="clients-box">
                <img src="{% static 'home/images/clients/11.png'%}" class="img-fluid " alt="">
              </div>
              <div class="clients-box">
                <img src="{% static 'home/images/clients/12.png'%}" class="img-fluid " alt="">
              </div>
              <div class="clients-box">
                <img src="{% static 'home/images/clients/9.png'%}" class="img-fluid " alt="">
              </div>
              <div class="clients-box">
                <img src="{% static 'home/images/clients/10.png'%}" class="img-fluid " alt="">
              </div>
              <div class="clients-box">
                <img src="{% static 'home/images/clients/11.png'%}" class="img-fluid " alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Main Content END -->
    {% include 'home/footer.html' %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include 'home/script.html' %}
    <script>
    var tpj=jQuery;

    var revapi3;
    tpj(document).ready(function() {
    if(tpj("#rev_slider_3_1").revolution == undefined){
    revslider_showDoubleJqueryError("#rev_slider_3_1");
    }else{
    revapi3 = tpj("#rev_slider_3_1").show().revolution({
    sliderType:"standard",
    jsFileLocation:"//localhost/revslider-standalone/revslider-standalone/revslider/public/revslider/assets/js/",
    sliderLayout:"fullwidth",
    dottedOverlay:"none",
    delay:9000,
    navigation: {
    onHoverStop:"off",
    },
    visibilityLevels:[1240,1024,778,480],
    gridwidth:1366,
    gridheight:790,
    lazyType:"none",
    parallax: {
    type:"mouse",
    origo:"enterpoint",
    speed:400,
    levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
    type:"mouse",
    disable_onmobile:"on"
    },
    shadow:0,
    spinner:"spinner0",
    stopLoop:"off",
    stopAfterLoops:-1,
    stopAtSlide:-1,
    shuffle:"off",
    autoHeight:"off",
    disableProgressBar:"on",
    hideThumbsOnMobile:"off",
    hideSliderAtLimit:0,
    hideCaptionAtLimit:0,
    hideAllCaptionAtLilmit:0,
    debugMode:false,
    fallbacks: {
    simplifyAll:"off",
    nextSlideOnWindowFocus:"off",
    disableFocusListener:false,
    }
    });
    }
    }); /*ready*/
    </script>
  </body>
</html>