{% load static %}
<script data-cfasync="false" src="{% static 'home/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'%}"></script>
<script src="{% static 'home/js/jquery-min.js'%}" ></script>
<!-- popper  -->
<script src="{% static 'home/js/popper.min.js'%}"></script>
<!--  bootstrap -->
<script src="{% static 'home/js/bootstrap.min.js'%}" ></script>
<!-- Modernizr JavaScript -->
<script src="{% static 'home/js/modernizr.js'%}"></script>
<!-- Appear JavaScript -->
<script src="{% static 'home/js/appear.min.js'%}"></script>
<!-- Megamenu  -->
<script src="{% static 'home/js/mega_menu.min.js'%}"></script>
<!-- Timeline JavaScript -->
<script src="{% static 'home/js/timeline.js'%}"></script>
<!-- Wow -->
<script src="{% static 'home/js/wow.min.js'%}"></script>
<!-- scrollme -->
<script src="{% static 'home/js/jquery.scrollme.min.js'%}"></script>
<!-- countdown JavaScript -->
<script src="{% static 'home/js/countdown.js'%}"></script>
<!-- waypoints JavaScript -->
<script src="{% static 'home/js/waypoints.min.js'%}"></script>
<!-- Counterup JavaScript -->
<script src="{% static 'home/js/jquery.counterup.min.js'%}"></script>
<!-- Owl Carousel JavaScript -->
<script src="{% static 'home/js/owl.carousel.min.js'%}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{% static 'home/js/jquery.magnific-popup.min.js'%}"></script>
<!-- Isotope JavaScript -->
<script src="{% static 'home/js/isotope.pkgd.min.js'%}"></script>
<!-- Progressbar JavaScript -->
<script src="{% static 'home/js/circle-progress.min.js'%}"></script>
<!-- Canvas JavaScript -->
<script src="{% static 'home/js/canvasjs.min.js'%}"></script>
<!-- REVOLUTION JS FILES -->
<script src="{% static 'home/revslider/js/jquery.themepunch.tools.min.js'%}"></script>
<script src="{% static 'home/revslider/js/jquery.themepunch.revolution.min.js'%}"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'home/revslider/js/extensions/revolution.extension.actions.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.carousel.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.migration.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.navigation.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.parallax.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
<script src="{% static 'home/revslider/js/extensions/revolution.extension.video.min.js'%}"></script>
<!-- Retina JavaScript -->
<script src="{% static 'home/js/retina.min.js'%}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'home/js/custom.js'%}"></script>