{% load static %}
<!doctype html>
<html lang="en">
{% include 'home/head.html' %}
<body>
<!-- loading -->
<div id="loading">
    <div id="loading-center">
        <img src="{% static 'home/images/loader.gif'%}" alt="loder">
    </div>
</div>
<!-- loading End -->
<!-- Header -->
{% include 'home/header.html' %}
<!-- Header END -->
<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Services</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'home/images/breadcrumb/service.png'%}" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="{% static 'home/images/breadcrumb/02.png'%}" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<div class="main-content">
    <div class="overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mt-2 text-uppercase  iq-fw-3 iq-ls-3">About Services</p>
                        <h2 class="title iq-fw-8">Merchant</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose From  -->
        <div class="iq-choose-info pt-0  position-relative">
            <div class="container">
                <div class="row flex-row-reverse ">
                    <div class="col-lg-6 align-self-center mb-5">

                        <div class="iq-accordion">
                            <div class="iq-ad-block ">
                                <a href="javascript:void(0)" class="ad-title iq-fw-6 ">Why should I register as Merchant?</a>
                                <div class="ad-details">
                                    <p>With our Merchant Module, You can collect money from your customer across the world by integrating our simple API to your web or mobile App.
                                    </p>
                                </div>
                            </div>
                            <div class="iq-ad-block ">
                                <a href="javascript:void(0)" class="ad-title iq-fw-6 ">How do I Integrate jCollect?</a>
                                <div class="ad-details">
                                    <p>You can Integrate our API with your website by visiting our <a href="#">Developer Area</a> and read about our well document Integration process.
                                    </p>
                                </div>
                            </div>
                            <div class="iq-ad-block ">
                                <a href="javascript:void(0)" class="ad-title iq-fw-6 ">How is our Charges</a>
                                <div class="ad-details">
                                    <p>Our Charges is very cheap compare to other Vendor out there. you can check our <a href="#">Price list</a> and see how much we charge our merchant
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-5">
                        <img src="{% static 'home/images/others/2.jpg'%}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="scrollme">
                <img src="{% static 'home/images/service/3.png'%}"  class="img-fluid service-three animateme"
                     data-when="enter"
                     data-from="0.5"
                     data-to="0"
                     data-translatex="100" alt="image">
            </div>

        </div>
    </div>
    <!-- Choose From END -->
    <!--Solutions From  -->
    <section class="iq-solutions position-relative pt-0">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 align-self-center">
                    <h2 class="iq-fw-8 mb-2">Our Best Payment Solutions</h2>
                    <p class="mb-3">We Provide several mouth watering financial service to our customer in order to make life easy for them and bring financial service close to them.</p>
                    <p class="mb-3">Some of the Financial Service we offer include;</p>
                    <ul class="listing-mark">
                        <li>Merchant (Collect Money from your customer on your website)</li>
                        <li>Invoice (Send Invoice to your customer anywhere in the world)</li>
                        <li>Pay-Me (Receive money by non-user of jCollect through your Pay-Me link)</li>
                        <li>Transfer Fund (Send money to any user of the system) </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'home/images/others/1.png'%}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Solutions END -->
    <!-- Services END -->
    <!-- Works -->
    <section class="iq-works position-relative pt-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Best Ever Services</p>
                        <h2 class="title iq-fw-8">Best Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="services purple">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-cash"></i></div>
                            <h5 class="float-left mt-4">Fund Transfer/Received</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">You can send and receive money from anywhere in the world and receive it to your wallet. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services purple">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-code"></i></div>
                            <h5 class="float-left mt-4">Merchant Integration</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">By Integrating of simple API, you can collect money from your customer online. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services purple mb-lg-0">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-android-laptop"></i></div>
                            <h5 class="float-left mt-4">Voucher</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">You can create voucher pin and can load voucher sent to you. the amount of the voucher will be added to your account.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services purple mb-lg-0">
                        <div class="services-info">
                            <div class="service-shap purple"><i class="ion-android-send"></i></div>
                            <h5 class="float-left mt-4">Invoice</h5>
                            <div class="clearfix"></div>
                            <p class="mt-3 mb-0">Get paid by sending invoice to your customer. With this, you can receive money around the world with ease.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollme">
            <img src="{% static 'home/images/service/1.png'%}"  class="img-fluid service-one animateme"
                 data-when="enter"
                 data-from="0.5"
                 data-to="0"
                 data-translatey="500" alt="image">
        </div>
    </section>
    <!-- Works END -->
    <!-- Our Blog -->
    <!-- Our Blog END -->
</div>
<!-- Main Content END -->
{% include 'home/footer.html' %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'home/script.html' %}
</body>
</html>