{% load static %}
<!doctype html>
<html lang="en">
{% include 'home/head.html' %}
<body>
<!-- loading -->
<div id="loading">
    <div id="loading-center">
        <img src="{% static 'home/images/loader.gif'%}" alt="loder">
    </div>
</div>
<!-- loading End -->
<div class="login-from header-navbar light-gray-bg position-relative">
    <div class="row no-gutters">
        <div class="col-lg-6 align-items-stretch position-relative white-bg">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="privacy-policy.html">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Terms</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="login-info">
                <h2 class="iq-fw-9 mb-3">Login</h2>
                <h6>Welcome to <span class="main-color">J-Wallet</span> please login your account.</h6>
                <p class="m-auto">Your password has been set. You may go ahead and login now.</p>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <form action="/account/login" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" class="form-control"   placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control"  placeholder="Password" required>
                    </div>
                    <div class="form-group form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        <a href="/password_reset" class="float-right iq-fw-6">Forgot Password</a>
                    </div>
                    <button type="submit" name="submit" class="slide-button button mr-3" >
                        <a class="slide-button">
                            <div class="first">Login</div>
                            <div class="second">Login</div>
                        </a>
                    </button>
                    <a class="slide-button button bt-border" href="/account/register">
                        <div class="first">Register</div>
                        <div class="second">Register</div>
                    </a>

                </form>
            </div>
            <ul class="social-list">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 align-self-center position-relative">
            <div class="login-right-bar h-100 text-center">
                <img src="{% static 'home/images/login/login.png'%}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <img  src="{% static 'home/images/login/2.png'%}" class="img-fluid login-footer-one" alt="">
    <img  src="{% static 'home/images/login/3.png'%}" class="img-fluid login-footer-two" alt="">
    <img  src="{% static 'home/images/login/1.png'%}" class="img-fluid login-footer-three" alt="">
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"><i class="ion-ios-arrow-thin-up"></i></a>
    </div>
    <!-- back-to-top End -->
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'home/script.html' %}
</body>
</html>