<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>
<!-- Preloader -->
{% include 'preloader.html' %}
<!-- Preloader -->


<!-- Setting Panel -->

<!-- ======================================
******* Page Wrapper Area Start **********
======================================= -->
<div class="ecaps-page-wrapper">
    <!-- Sidemenu Area -->
    {% include 'sidebar.html' %}

    <!-- Page Content -->
    <div class="ecaps-page-content">
        <!-- Top Header Area -->
        {% include 'header.html' %}

        <!-- Main Content Area -->
        <div class="main-content">
            <!-- Basic Form area Start -->
            <div class="container-fluid">
                <!-- Form row -->
                <div class="row">
                    <div class="col-12 box-margin">
                        <div class="contact-form-area">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Change Password</h4>
                                    <div class="container">
                                        <form method="post">
                                        {% csrf_token %}
                                            <label for="fname2">Old Password</label>
                                            <input type="password" name="old_password" class="form-control" id="exampleInputPassword4" placeholder="Enter your Old Password" required>

                                            <label for="lname2">New password</label>
                                            <input type="password" name="new_password1" class="form-control" id="exampleInputPassword4" placeholder="Enter your New Password" required>

                                            <label for="country">Confirm password</label>
                                            <input type="password" name="new_password2" class="form-control" id="exampleInputPassword4" placeholder="Confirm new Password" required>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            {% endfor %}
                                            <input class="btn btn-primary btn-block mt-15" type="submit" value="Change">

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <!-- end row -->
                <!-- end row -->
                <!-- end row -->
            </div>
        </div>
    </div>
</div>

<!-- ======================================
********* Page Wrapper Area End ***********
======================================= -->

<!-- Must needed plugins to the run this Template -->
{% include 'foot.html' %}
</body>
</html>