{% load static %}
<!doctype html>
<html lang="en">
{% include 'home/head.html' %}
<body>
<!-- loading -->
<div id="loading">
    <div id="loading-center">
        <img src="{% static 'home/images/loader.gif'%}" alt="loder">
    </div>
</div>
<!-- loading End -->
<div class="login-from header-navbar reset-form light-gray-bg position-relative">
    <div class="row no-gutters">
        <div class="col-lg-6 align-items-stretch position-relative white-bg">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/policy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Terms</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="login-info">
                <h2 class="iq-fw-8 mb-3">Reset Password</h2>
                <h6>Please enter your email address to request a password reset.</h6>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <div class="form-group">
                        <input type="email" name="email" class="form-control"   placeholder="Enter your Email Address">
                    </div>
                    <button type="submit" name="submit" class="slide-button button mr-3" >
                        <a class="slide-button button">
                            <div class="first">Reset Password</div>
                            <div class="second">Reset Password</div>
                        </a>
                    </button>
                </form>
            </div>
            <ul class="social-list">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-6 align-self-center position-relative">
            <div class="login-right-bar h-100 text-center">
                <img src="{% static 'home/images/login/password-reset.png'%}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <img  src="{% static 'home/images/login/2.png'%}" class="img-fluid login-footer-one" alt="">
    <img  src="{% static 'home/images/login/3.png'%}" class="img-fluid login-footer-two" alt="">
    <img  src="{% static 'home/images/login/1.png'%}" class="img-fluid login-footer-three" alt="">
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"><i class="ion-ios-arrow-thin-up"></i></a>
    </div>
    <!-- back-to-top End -->
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'home/script.html' %}
</body>
</html>