{% load static %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}
    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->


    <!-- Setting Panel -->

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'admin/sidebar.html' %}
        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'header.html' %}
            <!-- Main Content Area -->
            <div class="main-content">
                <div class="dashboard-area">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="dashboard-header-title mb-3">
                                    <h5 class="mb-0 font-weight-bold">Dashboard</h5>
                                    <p class="mb-0 font-weight-bold">Welcome Administrator! {{ user.last_name }}</p>
                                </div>
                            </div>
                            <!-- Dashboard Info Area -->
                            <div class="col-6">
                                <div class="dashboard-infor-mation d-flex flex-wrap align-items-center mb-3">
                                    <div class="dashboard-clock">
                                        <div id="dashboardDate">Monday, 21 October</div>
                                        <ul class="d-flex align-items-center justify-content-end">
                                            <li id="hours">12</li>
                                            <li>:</li>
                                            <li id="min">10</li>
                                            <li>:</li>
                                            <li id="sec">14</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Time Date Area -->
                            <div class="col-12 box-margin">
                                <div class="card bg-boxshadow">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Earning Area -->
                            <div class="col-md-5 col-lg-4 box-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">TOTAL TRANSACTION</h5>
                                        <h5>₦ {{ show }}</h5>
                                        <span class="d-block pt-1 pb-3"></span>
                                        <div id="chart-percent1" class="chart-percent1" style="height:200px;"></div>
                                        <div class="client-name">
                                            <div class="row">
                                                <div class="col-sm-12 pt-2 pb-2">
                                                    <span class="mr-3"><i class="feather icon-circle text-c-green  mr-2"></i>Total Voucher</span>
                                                    <span class="float-right text-muted">₦ {{ t_v }}</span>
                                                </div>
                                                <div class="col-sm-12 pt-2 pb-2">
                                                    <span class="mr-3"><i class="feather icon-circle text-c-blue  mr-2"></i>Total User</span>
                                                    <span class="float-right text-muted">{{ users }}</span>
                                                </div>
                                                <div class="col-sm-12 pt-2">
                                                    <span class="mr-3"><i class="feather icon-circle text-c-purple  mr-2"></i>Total Merchant</span>
                                                    <span class="float-right text-muted">{{ merchant }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Best seller Area -->
                            <div class="col-md-7 col-lg-8 box-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Yearly Summary</h5>
                                        <div class="row pb-3">
                                            <div class="col-md-4 col-6 text-center">
                                                <h5 class="f-w-300">₦ 0.00</h5>
                                                <span>Total Invoice</span>
                                            </div>
                                            <div class="col-md-4 col-6 text-center">
                                                <h5 class="f-w-300">₦ {{ t_v }}</h5>
                                                <span>Total Vouchers</span>
                                            </div>
                                            <div class="col-md-4 col-12 text-center">
                                                <h5 class="f-w-300">₦ 0.00</h5>
                                                <span>Vendor Sales</span>
                                            </div>
                                        </div>
                                        <div id="bar-chart3" class="bar-chart3" style="height:300px;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 box-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Our Vendors</h5>
                                        <div class="product-table-area">
                                            <div class="table-responsive" id="dashboardTable">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Company Name</th>
                                                            <th>Address</th>
                                                            <th>Email</th>
                                                            <th>Phone No</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for data in vendor %}
                                                        <tr>
                                                            <td>
                                                                <div class="media align-items-center">
                                                                    <div class="chat-img mr-2">
                                                                        <img src="{{ data.bus_logo.url }}" alt="">
                                                                    </div>
                                                                    <div>
                                                                        <span>{{ data.bus_name }}</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{ data.bus_address }}</td>
                                                            <td>{{ data.bus_email }}</td>
                                                            <td>{{ data.bus_no }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body pb-0">
                                        <h6 class="card-title">Wallet Status</h6>
                                        <div class="row mb-3">
                                            <div class="col-9">
                                                <div class="progress-wrapper">
                                                    <span class="progress-label text-dark font-weight-bold">Vouchers</span>
                                                    <div class="progress mt-2 mb-2" style="height: 5px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 align-self-end text-right">
                                                <span class="text-dark mb-0">80%</span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-9">
                                                <div class="progress-wrapper">
                                                    <span class="progress-label text-dark font-weight-bold">Vendor Sales</span>
                                                    <div class="progress mt-2 mb-2" style="height: 5px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 align-self-end text-right">
                                                <span class="text-dark mb-0">72%</span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-9">
                                                <div class="progress-wrapper">
                                                    <span class="progress-label text-dark font-weight-bold">Invoice</span>
                                                    <div class="progress mt-2 mb-2" style="height: 5px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 align-self-end text-right">
                                                <span class="text-dark mb-0">89%</span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-9">
                                                <div class="progress-wrapper">
                                                    <span class="progress-label text-dark font-weight-bold">Fund Transfer</span>
                                                    <div class="progress mt-2 mb-2" style="height: 5px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 570%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 align-self-end text-right">
                                                <span class="text-dark mb-0">70%</span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-9">
                                                <div class="progress-wrapper">
                                                    <span class="progress-label text-dark font-weight-bold">Withdrawal</span>
                                                    <div class="progress mt-2 mb-2" style="height: 5px;">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 align-self-end text-right">
                                                <span class="text-dark mb-0">55%</span>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    {% include 'foot.html' %}

    </body>
    </html>
{% endblock %}