<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>
<!-- Preloader -->
{% include 'preloader.html' %}
<!-- Preloader -->
<!-- ======================================
******* Page Wrapper Area Start **********
======================================= -->
<div class="ecaps-page-wrapper">
    <!-- Sidemenu Area -->
    {% include 'admin/sidebar.html' %}

    <!-- Page Content -->
    <div class="ecaps-page-content">
        <!-- Top Header Area -->
        {% include 'header.html' %}
        <!-- Main Content Area -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- Form Validation area Start -->
                <div class="row">
                    <div class="col-12 box-margin height-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Solve Voucher Issues</h4>
                                        {% for message in messages %}
                                            <div class="alert alert-success" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                <form class="cmxform" id="commentForm" method="post" action="v_verify">
                                    {% csrf_token %}
                                    <fieldset>
                                        <div class="form-group mb-3">
                                            <label>Enter Customer's Number</label>
                                            <div class="input-group m-b-20">
                                                <div class="input-group-prepend">
                                                    <span class="form-control">NG (+234)</span>
                                                </div>
                                                <input class="form-control" id="single-input" type="number" name="number" value="{{ check.phone_no }}" placeholder="Enter Mobile Number e.g (080)">
                                                <div class="input-group-append">
                                                    <button type="submits" class="btn waves-effect waves-light btn-primary">Verify </button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                 {% if check.phone_no %}
                                        <div class="form-group">
                                            <label for="curl">Receiver's Info</label>
                                            <input id="curl" class="form-control" type="text" value="{{ check.first_name }} {{ check.last_name }}" readonly>
                                        </div>
                                        <form action="solve_voucher" method="post">
                                        {% csrf_token %}
                                           <input type="hidden" name="r_number" class="form-control" value="{{ check.phone_no }}">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">PIN</span>
                                            </div>
                                            <input type="number" class="form-control" name="v_code" placeholder="Enter Voucher Pin">
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="Send">
                                    </fieldset>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======================================
********* Page Wrapper Area End ***********
======================================= -->

<!-- Must needed plugins to the run this Template -->
{% include 'foot.html' %}

</body>
</html>