{% load static %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}

    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->


    <!-- Setting Panel -->
    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'admin/sidebar2.html' %}

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'admin/header2.html' %}

            <!-- Main Content Area -->
            <div class="main-content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-header-area mb-130">
                                <div class="card border-none">
                                    <div class="thumb bg-img height-300" style="background-image: url({% static 'img/bg-img/4.jpg'%})">
                                    </div>
                                </div>
                                <div class="profile-heading-text">
                                    <div class="d-md-flex align-items-center justify-content-between">
                                        <div class="info d-flex align-items-center mb-30-xs">
                                            <div class="profile-heading-thumb mr-3">
                                                <img class="border-radius-50" src="{% static 'img/member-img/3.png'%}" alt="">
                                            </div>
                                            <div class="text">
                                                <h4>{{ show.first_name }} {{ show.last_name }}</h4>
                                                <p class="mb-0">Customer ID: {{ show.customer_id }}</p>
                                            </div>
                                        </div>

                                        <div class="store">
                                            <div class="row mb-30-xs">
                                                <div class="col-4 text-center">
                                                    <span class="text-primary font-18 font-weight-bold mb-0">0.00</span>
                                                    <span class="d-block text-dark font-weight-bold">Shop</span>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <span class="mb-0 font-18 font-weight-bold text-danger">0.00</span>
                                                    <span class="d-block text-dark font-weight-bold">Payme</span>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <span class="text-success font-18 font-weight-bold mb-0">0.00</span>
                                                    <span class="d-block text-dark font-weight-bold">Voucher</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 box-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="profile-thumb-contact text-center">
                                        <div class="profile--tumb">
                                            <img src="{{ merchant.bus_logo.url }}" alt="">
                                        </div>
                                        <h5 class="mt-15">{{ merchant.bus_name }}</h5>
                                        <p class="mb-0">{{ merchant.bus_email }}</p>
                                    </div>
                                    <div class="personal-information mt-30">
                                        <div class="name-text">
                                            <h6 class="font-14"><span class="text-muted">Business Website :</span> {{ merchant.bus_website }}</h6>
                                            <h6 class="font-14"><span class="text-muted">Address :</span> {{ merchant.bus_address }}</h6>
                                            <h6 class="font-14"><span class="text-muted">Phone :</span> {{ show.phone_no }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <!-- Profile contacts -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Merchant</h4>
                                    <form enctype="multipart/form-data" method="post" action="merchant">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="col-form-label">Business Name</label>
                                                <input type="text" value="{{ merchant.bus_name }}" class="form-control" id="inputEmail4" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4" class="col-form-label">Business Email</label>
                                                <input type="text" value="{{ merchant.bus_email }}" class="form-control" id="inputPassword4" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputAddress" class="col-form-label">Business Address</label>
                                            <input type="text" value="{{ merchant.bus_address }}" class="form-control" id="inputAddress" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputAddress2" class="col-form-label">Phone Number</label>
                                            <input type="tel" value="{{ merchant.bus_no }}" class="form-control" id="inputAddress2" readonly>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity" class="col-form-label">Business Website</label>
                                                <input type="url" value="{{ merchant.bus_website }}" class="form-control" id="inputCity" readonly>
                                            </div>
                                        </div>
                                    </form>

                                </div> <!-- end card-body -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stacked-form-area">
                                        <h4 class="card-title mb-1">Vendor API</h4>
                                        <p class="mb-30">With Our API, you get paid from your website With ease.</p>
                                        <form action="api" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="user" value="{{ user.username }}" class="form-control" readonly>
                                            <div class="container" style="background-color:white">
                                                <label for="checkbox-2" class="cr">Live API</label>
                                                <input type="text" value="{{ merchant.api_live_key }}" >
                                                <label for="checkbox-2" class="cr">Test API</label>
                                                <input type="text" value="{{ merchant.api_test_key }}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="container">
                                    <a href="/super/user_trans/{{ show.username }}"><button class="btn btn-primary btn-block mt-15">View all Transaction</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container -->
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    {% include 'foot.html' %}
    </body>
    </html>
{% endblock %}