{% load static %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>DanfoPay</title>
        <!-- Meta-Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="Business Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- //Meta-Tags -->

        <!-- css files -->
        <link href="{% static 'new/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'new/css/style.css'%}" rel="stylesheet" type="text/css" media="all"/>
        <!-- //css files -->

        <!-- google fonts -->
        <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- //google fonts -->

    </head>
    <body>

    <div class="signupform">
        <div class="container">
            <!-- main content -->
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <h1>Send Money</h1>
                        <p>Receive Money from friends & family without them having wallet account. with your PayMe link,
                            They can pay you direct with their cards and get the reflect instantly in your account</p>
                        <img src="{% static 'new/images/ab.jpg'%}" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>{{ first_name }} {{ last_name }}</h2>
                    <form action="/initiate" method="post">
                        {% csrf_token %}
                        <label>Your Name</label>
                        <div class="input-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <input  value="{{ email }}" type="hidden" name="email">
                            <input  value="{{ username }}" type="hidden" name="username">
                            <input  value="{{ phone }}" type="hidden" name="phone">
                            <input type="text" name="sender" placeholder="Enter Name" required="">
                        </div>
                        <label>Amount</label>
                        <div class="input-group">
                            <span class="fa fa-money" aria-hidden="true"></span>
                            <input type="number" name="amount" placeholder="Enter Amount" required="">
                        </div>
                        <button class="btn btn-bitbucket btn-block" type="submit">Confirm</button >
                    </form>
                    <p class="account">By clicking Confirm, you agree to our <a href="#">Terms & Conditions!</a></p>
                    <p class="account1">Dont have an account? <a href="/account/register">Register here</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- footer -->
        <div class="footer">
            <p>Copyright DanfoPay &copy; {% now "Y" %}</p>
        </div>
        <!-- footer -->
    </div>

    </body>
    </html>
{% endblock %}