{% load static %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
        <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
        <!-- /meta tags -->
        <title>DanfoPay</title>

        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" type="image/x-icon">
        <!-- /site favicon -->

        <!-- Font Icon Styles -->
        <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/gaxon-icon/styles.css'%}">
        <!-- /font icon Styles -->

        <!-- Perfect Scrollbar stylesheet -->
        <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/css/perfect-scrollbar.css'%}">
        <!-- /perfect scrollbar stylesheet -->

        <!-- Load Styles -->    <link rel="stylesheet" href="{% static 'assets/css/semidark-style-1.min.css'%}">
        <!-- /load styles -->

    </head>
    <body class="dt-sidebar--fixed dt-header--fixed">

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <!-- Header -->
            <header class="dt-header">

                <!-- Header container -->
                <div class="dt-header__container">

                    <!-- Brand -->
                    <div class="dt-brand">

                        <!-- Brand tool -->
                        <div class="dt-brand__tool" data-toggle="main-sidebar">
                            <div class="hamburger-inner"></div>
                        </div>
                        <!-- /brand tool -->

                        <!-- Brand logo -->
                        <span class="dt-brand__logo">
        <a class="dt-brand__logo-link" href="dashboard">
          <img src="{% static 'assets/images/3.png'%}" width="80" height="80">
        </a>
      </span>
                        <!-- /brand logo -->

                    </div>
                    <!-- /brand -->

                    <!-- Header toolbar-->
                    <div class="dt-header__toolbar">

                        <!-- Search box -->
                        <!-- /search box -->

                        <!-- Header Menu Wrapper -->
                        <div class="dt-nav-wrapper">
                            <ul class="dt-nav">
                                <li class="dt-nav__item dropdown">

                                    <!-- Dropdown Link -->
                                    <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="dt-avatar size-30" src="{% static 'assets/images/user-avatar/domnic-harris.jpg'%}" alt="Domnic Harris">
                                        <span class="dt-avatar-info d-none d-sm-block">
                <span class="dt-avatar-name">Welcome {{ user.first_name }}</span>
              </span> </a>
                                    <!-- /dropdown link -->
                                    <!-- Dropdown Option -->
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
                                            <img class="dt-avatar" src="{% static 'assets/images/user-avatar/domnic-harris.jpg'%}" alt="Domnic Harris">
                                            <span class="dt-avatar-info">
                  <span class="dt-avatar-name">Username</span>
                  <span class="f-12">{{ user.username }}</span>
                </span>
                                        </div>
                                        <a class="dropdown-item" href="load"> <i class="icon icon-user icon-fw mr-2 mr-sm-1"></i>Account
                                        </a> <a class="dropdown-item" href="settings">
                                        <i class="icon icon-settings icon-fw mr-2 mr-sm-1"></i>Setting </a>
                                        <a class="dropdown-item" href="logout"> <i class="icon icon-editors icon-fw mr-2 mr-sm-1"></i>Logout
                                        </a>
                                    </div>
                                    <!-- /dropdown option -->

                                </li>
                            </ul>
                            <!-- /header menu -->
                        </div>
                        <!-- Header Menu Wrapper -->

                    </div>
                    <!-- /header toolbar -->

                </div>
                <!-- /header container -->

            </header>
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                <aside id="main-sidebar" class="dt-sidebar">
                    <div class="dt-sidebar__container">

                        <!-- Sidebar Navigation -->
                        <ul class="dt-side-nav">

                            <!-- Menu Header -->
                            <li class="dt-side-nav__item dt-side-nav__header">
                                <span class="dt-side-nav__text">main</span>
                            </li>
                            <!-- /menu header -->

                            <!-- Menu Item -->
                            <li class="dt-side-nav__item open">
                                <a href="dashboard" class="dt-side-nav__link" title="Dashboard">
                                    <i class="icon icon-dashboard icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Dashboard</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="transfer" class="dt-side-nav__link" title="Transfer">
                                    <i class="icon icon-dollar icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Transfer</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="withdraw" class="dt-side-nav__link" title="Withdraw">
                                    <i class="icon icon-card icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Withdraw</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="activity" class="dt-side-nav__link" title="Activity">
                                    <i class="icon icon-archive icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Activity</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="voucher" class="dt-side-nav__link" title="Voucher">
                                    <i class="icon icon-task-manager icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Voucher</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="load" class="dt-side-nav__link" title="Load Wallet">
                                    <i class="icon icon-card-group icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Load Wallet</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="bank" class="dt-side-nav__link" title="Add Bank Account">
                                    <i class="icon icon-user-account icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Add Bank</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="ticket" class="dt-side-nav__link" title="Create Ticket">
                                    <i class="icon icon-message icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Ticket</span>
                                </a>
                            </li>
                            <li class="dt-side-nav__item">
                                <a href="settings" class="dt-side-nav__link" title="Settings">
                                    <i class="icon icon-settings icon-fw icon-lg"></i>
                                    <span class="dt-side-nav__text">Settings</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /sidebar navigation -->

                    </div>
                </aside>
                <!-- /sidebar -->
                <!-- Site Content Wrapper -->
                <div class="dt-content-wrapper">

                    <!-- Site Content -->
                    <div class="dt-content">

                        <!-- Grid -->
                        <div class="row">
                            <!-- Grid Item -->
                            <div class="col-12">

                                <!-- Card -->
                                <div class="dt-card">

                                    <!-- Card Header -->
                                    <div class="dt-card__header">

                                        <!-- Card Heading -->
                                        <div class="dt-card__heading">
                                            <h3 class="dt-card__title">Confirm Payment</h3>
                                        </div>
                                    </div>
                                    <div class="dt-card__body">
                                        {% for message in messages %}
                                            <div class="alert alert-success" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        <!-- Form -->
                                        <form>
                                            <script src="https://js.paystack.co/v1/inline.js"></script>
                                            <div class="col-md-6 dt-masonry__item">
                                                <div class="dt-card">
                                                    <div class="dt-card__body">
                                                        <ol class="breadcrumb">
                                                            <li class="active breadcrumb-item">Username: {{ username }}</li>
                                                        </ol>
                                                        <ol class="breadcrumb">
                                                            <li class="breadcrumb-item">Email: {{ email }}</li>
                                                        </ol>
                                                        <ol class="mb-0 breadcrumb">
                                                            <li class="breadcrumb-item">Amount: {{ amount }}</li>
                                                        </ol>
                                                        <ol class="mb-0 breadcrumb">
                                                            <li class="breadcrumb-item">Mobile No: {{ show }}</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="border-dashed my-8">
                                            <button class="btn btn-primary" type="button" onclick="payWithPaystack()">Pay Now</button>
                                        </form>
                                        <script>
                                            function payWithPaystack(){
                                                var handler = PaystackPop.setup({
                                                    key: 'pk_test_fea4f2c1aab20408e00605bca8bf3d2602db4324',
                                                    email: '{{ email }}',
                                                    amount: {{ amount }} * 100,
                                                    currency: "NGN",
                                                    ref: '{{ ref_no }}',
                                                    metadata: {
                                                        custom_fields: [
                                                            {
                                                                display_name: "{{ username }}",
                                                                variable_name: "mobile_number",
                                                                value: "{{ show }}"
                                                            }
                                                        ]
                                                    },
                                                    callback: function(){
                                                        window.location = "payment"
                                                    },
                                                    onClose: function(){
                                                        alert('window closed');
                                                    }
                                                });
                                                handler.openIframe();
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    {% include 'footer.html' %}
                    <!-- /footer -->
                </div>
            </main>
        </div>
    </div>
    <!-- /root -->

    <!-- Optional JavaScript -->
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'node_modules/moment/moment.js'%}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <!-- Perfect Scrollbar jQuery -->
    <script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js'%}"></script>
    <!-- /perfect scrollbar jQuery -->

    <!-- masonry script -->
    <script src="{% static 'node_modules/masonry-layout/dist/masonry.pkgd.min.js'%}"></script>
    <script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.js'%}"></script>
    <script src="{% static 'assets/js/functions.js'%}"></script>
    <script src="{% static 'assets/js/customizer.js'%}"></script><!-- Custom JavaScript -->
    <script src="{% static 'assets/js/script.js'%}"></script>
    <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.js'%}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js'%}"></script>
    <script src="{% static 'assets/js/custom/data-table.js'%}"></script>
    </body>
    </html>
{% endblock %}