{% load static %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}
    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->


    <!-- Setting Panel -->

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'sidebar.html' %}
        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'header.html' %}
            <!-- Main Content Area -->
            <div class="main-content">
                <div class="dashboard-area">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="dashboard-header-title mb-3">
                                    <h5 class="mb-0 font-weight-bold">Dashboard</h5>
                                    <p class="mb-0 font-weight-bold">Welcome! {{ user.last_name }}</p>
                                </div>
                            </div>
                            <!-- Dashboard Info Area -->
                            <div class="col-6">
                                <div class="dashboard-infor-mation d-flex flex-wrap align-items-center mb-3">
                                    <div class="dashboard-clock">
                                        <div id="dashboardDate">Monday, 21 October</div>
                                        <ul class="d-flex align-items-center justify-content-end">
                                            <li id="hours">12</li>
                                            <li>:</li>
                                            <li id="min">10</li>
                                            <li>:</li>
                                            <li id="sec">14</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Time Date Area -->
                            <div class="col-12 box-margin">
                                <div class="card bg-boxshadow">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Earning Area -->
                            <div class="col-md-6 box-margin height-card">
                                <div class="card bg-primary earning-date">
                                    <div class="card-body">
                                        <div class="dashboard-tab-area">
                                            <h5 class="text-white card-title"></h5>
                                            <div class="bd-example bd-example-tabs">
                                                <div class="tab-content" id="tabContent-pills">
                                                    <div class="tab-pane fade active show" id="earnings-sun" role="tabpanel" aria-labelledby="pills-earnings-sun">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <h2 class="text-white font-36 font-weight-bold">₦ {{ show.bal }}</h2>
                                                                <span class="text-white mb-3 d-block">Account balance</span>
                                                            </div>
                                                            <div class="dashboard-tab-thumb">
                                                                <img src="{% static 'img/bg-img/6.svg'%}" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Best seller Area -->
                            <div class="col-md-6 height-card box-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="font-20 mb-1">Vendor Sales</h5>
                                        <p class="mb-20">Best seller of the month</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="dashboard-content-right">
                                                <h2 class="text-success font-36 font-weight-bold">₦ 0.00</h2>
                                                <p class="font-15 font-weight-bold">You have done 65.6% more <br>sales today.</p>
                                                <a href="activity"><button type="button" class="btn btn-primary mt-15">View Sales</button></a>
                                            </div>
                                            <div class="dashboard-content-left wow shake" data-wow-delay="0.6s">
                                                <img src="{% static 'img/bg-img/5.jpg'%}" class="img-fluid" alt="Dashboard" width="180" height="180">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 box-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Payment Summary</h5>
                                        <div id="line-chart2" class="height-300"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 box-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="stacked-form-area">
                                            <h4 class="card-title mb-1">Pay-Me</h4>
                                            <p class="mb-30">With Pay me link, You can receive money from anyone around the world and get the money directly
                                                on your wallet. All you have to do is send the link to your customer/friends & family and the with pay you
                                                directly without having account on the wallet</p>
                                            <form>
                                                <div class="container" style="background-color:white">
                                                    <label for="checkbox-2" class="cr">Pay-me Link</label>
                                                    <input type="text" value="http://{{ request.get_host }}/payme/{{ user.username }}">
                                                    <div class="form-group mt-15">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    {% include 'foot.html' %}

    </body>
    </html>
{% endblock %}