{% load static %}
{% block main %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/bundle.js'%}"></script>
    <script src="{% static 'js/default-assets/date-time.js'%}"></script>
    <script src="{% static 'js/default-assets/setting.js'%}"></script>
    <script src="{% static 'js/default-assets/fullscreen.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>
    <script src="{% static 'js/default-assets/notification-active.js'%}"></script>

    <!-- Active JS -->
    <script src="{% static 'js/default-assets/active.js'%}"></script>

    <script src="{% static 'js/default-assets/chat-box.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>

    <!-- These plugins only need for the run this page -->
    <script src="{% static 'js/default-assets/peity.min.js'%}"></script>
    <script src="{% static 'js/default-assets/peity-demo.js'%}"></script>
    <script src="{% static 'js/default-assets/am-chart.js'%}"></script>
    <script src="{% static 'js/default-assets/gauge.js'%}"></script>
    <script src="{% static 'js/default-assets/serial.js'%}"></script>
    <script src="{% static 'js/default-assets/light.js'%}"></script>
    <script src="{% static 'js/default-assets/ammap.min.js'%}"></script>
    <script src="{% static 'js/default-assets/worldlow.js'%}"></script>
    <script src="{% static 'js/default-assets/radar.js'%}"></script>
    <script src="{% static 'js/default-assets/dashboard-2.js'%}"></script>
    <script src="{% static 'js/default-assets/jquery.datatables.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.bootstrap4.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-responsive.min.js'%}"></script>
    <script src="{% static 'js/default-assets/responsive.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-button.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.html5.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.flash.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.print.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.keytable.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.select.min.js'%}"></script>
    <script src="{% static 'js/default-assets/demo.datatable-init.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>
    <script src="{% static 'js/default-assets/summernote.min.js'%}"></script>
    <script src="{% static 'js/default-assets/summernote-active.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>
    <script src="{% static 'js/default-assets/modal-classes.js'%}"></script>
    <script src="{% static 'js/default-assets/modaleffects.js'%}"></script>

{% endblock %}