{% load static %}
{% block main %}
<header class="dt-header">

    <!-- Header container -->
    <div class="dt-header__container">

        <!-- Brand -->
        <div class="dt-brand">

            <!-- Brand tool -->
            <div class="dt-brand__tool" data-toggle="main-sidebar">
                <div class="hamburger-inner"></div>
            </div>
            <!-- /brand tool -->

            <!-- Brand logo -->
            <span class="dt-brand__logo">
        <a class="dt-brand__logo-link" href="dashboard">
          <img src="{% static 'assets/images/3.png'%}" width="80" height="80">
        </a>
      </span>
            <!-- /brand logo -->

        </div>
        <!-- /brand -->

        <!-- Header toolbar-->
        <div class="dt-header__toolbar">
            <!-- Header Menu Wrapper -->
            <div class="dt-nav-wrapper">
                <!-- Header Menu -->
                <ul class="dt-nav">
                    <li class="dt-nav__item dropdown">

                        <!-- Dropdown Link -->
                        <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="dt-avatar size-30" src="{% static 'assets/images/user-avatar/domnic-harris.jpg'%}" alt="Domnic Harris">
                            <span class="dt-avatar-info d-none d-sm-block">
                <span class="dt-avatar-name">Welcome {{ user.first_name }}</span>
              </span> </a>
                        <!-- /dropdown link -->

                        <!-- Dropdown Option -->
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
                                <img class="dt-avatar" src="{% static 'assets/images/user-avatar/domnic-harris.jpg'%}" alt="Domnic Harris">
                                <span class="dt-avatar-info">
                  <span class="dt-avatar-name">Username</span>
                  <span class="f-12">{{ user.username }}</span>
                </span>
                            </div>
                            <a class="dropdown-item" href="load"> <i class="icon icon-user icon-fw mr-2 mr-sm-1"></i>Account
                            </a> <a class="dropdown-item" href="settings">
                            <i class="icon icon-settings icon-fw mr-2 mr-sm-1"></i>Setting </a>
                            <a class="dropdown-item" href="logout"> <i class="icon icon-editors icon-fw mr-2 mr-sm-1"></i>Logout
                            </a>
                        </div>
                        <!-- /dropdown option -->
                    </li>
                </ul>
                <!-- /header menu -->
            </div>
            <!-- Header Menu Wrapper -->
        </div>
        <!-- /header toolbar -->
    </div>
    <!-- /header container -->
</header>
{% endblock %}