{% load static %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}

    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->
    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'sidebar.html' %}

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'header.html' %}
            <!-- Main Content Area -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- Form Validation area Start -->
                    <div class="row">
                        <div class="col-12 box-margin height-card">
                            <div class="card">
                                <div class="card-body">
                                <div>
                                   <span style="float: right"><a href="voucher" ><button class="btn btn-primary">Create Voucher</button></a></span>
                                </div>
                                    <h4 class="card-title">Redeem Voucher</h4>
                                    {% for message in messages %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <form class="cmxform" id="commentForm" method="post" action="load_voucher">
                                        {% csrf_token %}
                                        <fieldset>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">PIN</span>
                                                </div>
                                                <input type="hidden" name="l_username" class="form-control" value="{{ user.username }}">
                                                <input type="number" class="form-control" name="v_code" placeholder="Enter Voucher Pin" aria-label="Amount (to the nearest dollar)">
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="Redeem Voucher">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 box-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">All Voucher</h4>
                                    <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                                        <thead>
                                        <tr>
                                            <th>Vouchers</th>
                                            <th>Ref No</th>
                                            <th>Amount</th>
                                            <th>Loader</th>
                                            <th>Create Date</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        {% for shows in show %}
                                            <tr>
                                                <td>{{ shows.v_code }}</td>
                                                <td>{{ shows.ref_no }}</td>
                                                <td><div class="badge badge-success badge-shadow">₦ {{ shows.v_amount }}</div></td>
                                                <td>{{ shows.v_loader }}</td>
                                                <td>{{ shows.v_date }}</td>
                                                <td><div class="badge badge-success badge-shadow">{{ shows.v_status }}</div></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/bundle.js'%}"></script>
    <script src="{% static 'js/default-assets/date-time.js'%}"></script>
    <script src="{% static 'js/default-assets/setting.js'%}"></script>
    <script src="{% static 'js/default-assets/fullscreen.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>
    <script src="{% static 'js/default-assets/notification-active.js'%}"></script>
    <script src="{% static 'js/default-assets/active.js'%}"></script>

    <!-- Must needed plugins to the run this Template -->
    <script src="{% static 'js/default-assets/jquery.datatables.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.bootstrap4.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-responsive.min.js'%}"></script>
    <script src="{% static 'js/default-assets/responsive.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-button.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.html5.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.flash.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.print.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.keytable.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.select.min.js'%}"></script>
    <script src="{% static 'js/default-assets/demo.datatable-init.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>

    </body>
    </html>
{% endblock %}