{% load static %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
<title>DanfoPay</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tabs Payment Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static '/pay/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/pay/css/creditly.css'%}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static '/pay/css/easy-responsive-tabs.css'%}">
<script src="{% static '/pay/js/jquery.min.js'%}"></script>
<!-- font-awesome-icons -->
<link href="{% static '/pay/css/font-awesome.css'%}" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'pay/assets/img/favicon.ico'%}">
<!-- //font-awesome-icons -->
</head>
<body>
	<div class="main">
		<h1></h1>
		<div class="w3_agile_main_grids">
			<div class="agileits_main_grid_right">
				<div class="wthree_payment_grid">
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
					<h2>Payment Method</h2>
					<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li><img src="{% static '/pay/images/1.jpg'%}" alt=" " /></li>
							<li><img src="{% static '/pay/images/2.png'%}" alt=" " /></li>
						</ul>
						<div class="resp-tabs-container">
							<div class="agileits_w3layouts_tab1">
								<form class="creditly-card-form agileinfo_form">
                                    <script src="https://js.paystack.co/v1/inline.js"></script>
									<section class="creditly-wrapper wthree, w3_agileits_wrapper">
										<div class="credit-card-wrapper">
											<div class="first-row form-group">

											</div>
											<button class="submit" type="button" onclick="payWithPaystack()"><span>Make a payment <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button>
										</div>
									</section>
								</form>
                                <script>
                                    function payWithPaystack(){
                                        var handler = PaystackPop.setup({
                                            key: 'pk_test_fea4f2c1aab20408e00605bca8bf3d2602db4324',
                                            email: '{{ email }}',
                                            amount: {{ amount }} * 100,
                                            currency: "NGN",
                                            ref: '{{ ref_no }}',
                                            metadata: {
                                            custom_fields: [
                                            {
                                                display_name: "{{ sender }}",
                                                variable_name: "mobile_number",
                                                value: "{{ phone }}"
                                            }
                                            ]
                                            },
                                            callback: function(){
                                                    window.location = "success"
                                                    },
                                                onClose: function(){
                                                        alert('window closed');
                                                }
                                                });
                                                handler.openIframe();
                                                }
                                </script>
							</div>
							<div class="agileits_w3layouts_tab2">
								<h3>Don't have a A-Wallet Account <a href="/account/register">Register here</a></h3>
								<form action="initiate" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="amount" value="{{ amount }}">
                                    <input type="hidden" name="merchant" value="{{ m_username }}">
                                    <input type="hidden" name="success_url" value="{{ success_url }}">
									<input type="text" name="username" placeholder="Username" required="">
									<input type="password" name="password" placeholder="Password" required="">
									<input type="submit" name="submit" value="Pay Now">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="agileits_copyright">
			<p>Copyright  &copy; {% now "Y" %} Pulse | Design By <a href="#">Savitech Nigeria</a></p>
		</div>
	</div>
	<!-- credit-card -->
		<script type="text/javascript" src="{% static '/pay/js/creditly.js'%}"></script>
		<script type="text/javascript">
			$(function() {
			  var creditly = Creditly.initialize(
				  '.creditly-wrapper .expiration-month-and-year',
				  '.creditly-wrapper .credit-card-number',
				  '.creditly-wrapper .security-code',
				  '.creditly-wrapper .card-type');
			  $(".creditly-card-form .submit").click(function(e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
				  // Your validated credit card output
				  console.log(output);
				}
			  });
			});
		</script>
	<!-- //credit-card -->
	<!-- tabs -->
	<script src="{% static '/pay/js/easy-responsive-tabs.js'%}"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true,   // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function(event) { // Callback function if tab is switched
				var $tab = $(this);
				var $info = $('#tabInfo');
				var $name = $('span', $info);
				$name.text($tab.text());
				$info.show();
				}
			});
		});
	</script>
	<!-- //tabs -->

</body>
</html>
{% endblock %}