<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>
<!-- Preloader -->
{% include 'preloader.html' %}
<!-- Preloader -->


<!-- Setting Panel -->
<!-- ======================================
******* Page Wrapper Area Start **********
======================================= -->
<div class="ecaps-page-wrapper">
    <!-- Sidemenu Area -->
    {% include 'sidebar.html' %}

    <!-- Page Content -->
    <div class="ecaps-page-content">
        <!-- Top Header Area -->
        {% include 'header.html' %}

        <!-- Main Content Area -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-xl-4 height-card box-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="chat-area">
                                    <!--end chat-search-->

                                    <div class="slimScrollDiv">
                                        <div class="tab-content chat-list slimscroll" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="general_chat">
                                                <div id="plist" class="people-list">
                                                    <div class="schedule-tab">
                                                        <!-- Nav Nav-tabs -->
                                                        <ul class="nav nav-pills navtab-bg nav-justified" id="conferScheduleTab" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="monday-tab" href="/account/ticket" aria-expanded="true"><i class="zmdi zmdi-comment-more mr-1"></i> Ticket</a>
                                                            </li>
                                                            <!-- Nav Item -->
                                                        </ul>
                                                    </div>
                                                    <!-- Tab Content -->
                                                    <div class="tab-content" id="conferScheduleTabContent">
                                                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                                                            <div class="tab-content pt-0">
                                                                <div id="chat_user_2">
                                                                    <ul class="chat-list list-unstyled">
                                                                        {% for data in show %}
                                                                            <a href="/account/reply/{{ data.ticket_id }}">
                                                                                <li class="clearfix active">
                                                                                    <div class="about">
                                                                                        <div class="name">{{ data.ticket_id }}</div>
                                                                                        <div class="status">{{ data.subject }}</div>
                                                                                    </div>
                                                                                    <div class="chart-time text-right">
                                                                                        <div class="time font-weight-bold font-12">{{ data.priority }}</div>
                                                                                    </div>
                                                                                </li>
                                                                            </a>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-xl-8 height-card box-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="chat">
                                    <div class="d-flex justify-content-between border-bottom align-items-center p-3">
                                        <div class="chat-header-text d-flex">
                                            <div class="chat-about">
                                                <div class="chat-with font-18">{{ show.ticket_id }}</div>
                                                <div class="chat-num-messages font-14">{{ show.status }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chat-history" id="chat-conversation">
                                        <ul>
                                            {% for data in r_show %}
                                            <li>
                                                <div class="message-data">
                                                    <span class="message-data-name">{{ data.ticket_id }} </span>
                                                    <span class="message-data-time">{{ data.date }}</span>
                                                </div>
                                                <div class="message my-message">{{ data.content }}</div>
                                            </li>
                                            {% endfor %}
                                            <li class="clearfix">
                                                <div class="message-data text-right">
                                                        <span class="message-data-time">11:11 AM, Today
                                                        </span>

                                                    <span class="message-data-name pl-2">Zara</span>
                                                </div>
                                                <div class="message other-message float-right">I am good, We think for next weekend.</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="chat-message clearfix">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="Enter text here.." />
                                            </div>
                                        </div>
                                        <div class="chat-upload">
                                            <a href="#"> <i class="zmdi zmdi-camera font-22 text-primary"></i></a>
                                            <a href="#"> <i class="zmdi zmdi-link font-22 text-primary"></i></a>
                                            <a href="#"> <i class="zmdi zmdi-mic font-22 text-primary"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ======================================
********* Page Wrapper Area End ***********
======================================= -->

<!-- Must needed plugins to the run this Template -->
{% include 'foot.html' %}
</body>
</html>