{% load static %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}

    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->


    <!-- Setting Panel -->
    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'sidebar.html' %}

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'header.html' %}

            <!-- Main Content Area -->
            <div class="main-content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-header-area mb-130">
                                <div class="card border-none">
                                    <div class="thumb bg-img height-300" style="background-image: url({% static 'img/bg-img/4.jpg'%})">
                                    </div>
                                </div>
                                <div class="profile-heading-text">
                                    <div class="d-md-flex align-items-center justify-content-between">
                                        <div class="info d-flex align-items-center mb-30-xs">
{#                                            <div class="profile-heading-thumb mr-3">#}
{#                                                <img class="border-radius-50" src="{% static 'img/member-img/3.png'%}" alt="">#}
{#                                            </div>#}
                                            <div class="text">
                                                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                                <p class="mb-0">Customer ID: {{ cus_id }}</p>
                                            </div>
                                        </div>

                                        <div class="store">
                                            <div class="row mb-30-xs">
                                                <div class="col-4 text-center">
                                                    <span class="text-primary font-18 font-weight-bold mb-0">{{ i_mode }}</span>
                                                    <span class="d-block text-dark font-weight-bold">Merchant</span>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <span class="mb-0 font-18 font-weight-bold text-danger">{{ w_p_charges }}</span>
                                                    <span class="d-block text-dark font-weight-bold">Charges</span>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <span class="text-success font-18 font-weight-bold mb-0">0.00</span>
                                                    <span class="d-block text-dark font-weight-bold">Voucher</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 box-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="profile-thumb-contact text-center">
                                        <div class="profile--tumb">
                                            <img src="{{ s_show.bus_logo.url }}" alt="">
                                        </div>
                                        <h5 class="mt-15">{{ s_show.bus_name }}</h5>
                                        <p class="mb-0">{{ s_show.bus_email }}</p>
                                    </div>
                                    <div class="personal-information mt-30">
                                        <div class="name-text">
                                            <h6 class="font-14"><span class="text-muted">Business Website :</span> {{ s_show.bus_website }}</h6>
                                            <h6 class="font-14"><span class="text-muted">Address :</span> {{ s_show.bus_address }}</h6>
                                            <h6 class="font-14"><span class="text-muted">Phone :</span> {{ show }}</h6>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="stacked-form-area">
                                            <h4 class="card-title">Who Pay for Charges?</h4>
                                            <form action="w_pay" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="user" value="{{ user.username }}" class="form-control" readonly>
                                                <select id="country" name="w_pay">
                                                    <option>Select Who Pays</option>
                                                    <option value="merchant">Merchant</option>
                                                    <option value="customer">Customer</option>
                                                </select>

                                                <input class="btn btn-primary btn-block mt-15" type="submit" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <!-- Profile contacts -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Become Merchant</h4>
                                    <form enctype="multipart/form-data" method="post" action="merchant">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="col-form-label">Business Name</label>
                                                <input type="text" value="{{ s_show.bus_name }}" name="b_name" class="form-control" id="inputEmail4" placeholder="Business Name">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4" class="col-form-label">Business Email</label>
                                                <input type="text" value="{{ s_show.bus_email }}" name="b_email" class="form-control" id="inputPassword4" placeholder="Business Email">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputAddress" class="col-form-label">Business Address</label>
                                            <input type="text" value="{{ s_show.bus_address }}" name="b_address" class="form-control" id="inputAddress" placeholder="Business Address">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputAddress2" class="col-form-label">Phone Number</label>
                                            <input type="tel" name="b_tel" value="{{ show }}" class="form-control" id="inputAddress2" readonly>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity" class="col-form-label">Business Website</label>
                                                <input type="url" name="b_url" value="{{ s_show.bus_website }}" class="form-control" id="inputCity" placeholder="http://www.abc.com">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputCity" class="col-form-label">Business Logo</label>
                                                <input type="file" name="bus_logo" class="form-control" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Become Merchant</button>

                                    </form>

                                </div> <!-- end card-body -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stacked-form-area">
                                        <h4 class="card-title mb-1">Get Your API Key</h4>
                                        <form action="api" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="user" value="{{ user.username }}" class="form-control" readonly>
                                            <div class="container" style="background-color:white">
{#                                                <label for="checkbox-2" class="cr">Live API</label>#}
{#                                                <input type="text" value="{{ s_show.api_live_key }}" >#}
                                                <label for="checkbox-2" class="cr">Merchant API</label>
                                                <input type="text" value="{{ s_show.api_test_key }}">
                                            </div>

                                            <div class="container">
                                                <input class="btn btn-primary btn-block mt-15" type="submit" value="Generate API">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body">
                                        <div class="stacked-form-area">
                                            <h4 class="card-title">Integration Mode</h4>
                                            <form action="int_mode" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="user" value="{{ user.username }}" class="form-control" >
                                                <select id="country" name="int_mode">
                                                    <option>Select Mode</option>
                                                    <option value="test">Test Mode</option>
                                                    <option value="live">Live Mode</option>
                                                </select>

                                                <input class="btn btn-primary btn-block mt-15" type="submit" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container -->
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    {% include 'foot.html' %}
    </body>
    </html>
{% endblock %}