{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>A-Wallet - Account Setting</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico'%}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
              <span class="badge headerBadge1">
                6 </span> </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Messages
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-message">
                <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="{% static 'assets/img/users/user-5.png'%}" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
                      Ryan</span> <span class="time messege-text">Your payment invoice is
                      generated.</span> <span class="time">12 Min Ago</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link notification-toggle nav-link-lg"><i data-feather="bell"></i>
              <span class="badge headerBadge2">
                3 </span> </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
               <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Welcome to Aegis
                    template! <span class="time">Yesterday</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{% static 'assets/img/user.png'%}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello {{ user.first_name }}</div>
              <a href="activity" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Activities
              </a> <a href="settings" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="dashboard"> <img alt="image" src="{% static 'assets/img/logo.png'%}" class="header-logo" /> <span
                class="logo-name">Wallet</span>
            </a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="{% static 'assets/img/userbig.png'%}">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
              <div class="user-role">{{ user.email }}</div>
            </div>
          </div>
           <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown">
              <a href="dashboard"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="transfer"><i data-feather="send"></i><span>Transfer</span></a>
            </li>
            <li class="dropdown">
              <a href="deposit"><i data-feather="arrow-up-circle"></i><span>Load Wallet</span></a>
            </li>3
            <li class="dropdown">
              <a href="withdraw"><i data-feather="menu"></i><span>Withdraw</span></a>
            </li>
            <li class="dropdown">
              <a href="activity"><i data-feather="activity"></i><span>Activity</span></a>
            </li>
            <li class="dropdown">
              <a href="voucher"><i data-feather="share"></i><span>Voucher</span></a>
            </li>
             <li class="dropdown">
              <a href="ticket"><i data-feather="copy"></i><span>Create Ticket</span></a>
            </li>
            <li class="dropdown">
              <a href="dispute"><i data-feather="shopping-bag"></i><span>Dispute</span></a>
            </li>
             <li class="dropdown active">
              <a href="settings"><i data-feather="settings"></i><span>Settings</span></a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">
                      <img alt="image" src="{% static 'assets/img/users/user-1.png'%}" class="rounded-circle author-box-picture">
                      <div class="clearfix"></div>
                      <div class="author-box-name">
                        <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                      </div>
                      <div class="author-box-job">{{ user.email }}</div>
                    </div>
                    <div class="text-center">
                      <div class="w-100 d-sm-none"></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h4>Personal Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Username
                        </span>
                        <span class="float-right text-muted">
                          {{ user.username }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Phone
                        </span>
                        <span class="float-right text-muted">
                          {{ show }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          EMail
                        </span>
                        <span class="float-right text-muted">
                          {{ user.email }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Customer ID
                        </span>
                        <span class="float-right text-muted">
                          <a href="#">{{ cus_id }}</a>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-8">
                  {% for message in messages %}
                        <div class="alert alert-success alert-dismissible show fade">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    </div>
                {% endfor %}
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#settings" role="tab"
                          aria-selected="false">Setting</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#merchant" role="tab"
                          aria-selected="false">Merchant</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#api" role="tab"
                          aria-selected="false">API</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#bank" role="tab"
                          aria-selected="false">Bank</a>
                      </li>
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="home-tab2">
                        <form method="post" class="needs-validation">
                          <div class="card-header">
                            <h4>Edit Profile</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>First Name</label>
                                <input type="text" class="form-control" value="{{ user.first_name }}" readonly>
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>Last Name</label>
                                <input type="text" class="form-control" value="{{ user.last_name }}" readonly>
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-7 col-12">
                                <label>Email</label>
                                <input type="email" class="form-control" value="{{ user.email }}" readonly>
                                <div class="invalid-feedback">
                                  Please fill in the email
                                </div>
                              </div>
                              <div class="form-group col-md-5 col-12">
                                <label>Phone</label>
                                <input type="tel" class="form-control" value="{{ show }}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <button class="btn btn-primary">Save Changes</button>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="merchant" role="tabpanel" aria-labelledby="profile-tab2">
                        <form method="POST" action="merchant" >
                            {% csrf_token %}
                          <div class="card-header">
                            <h4>Merchant</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>Business Name</label>
                                <input type="text" value="{{ s_show.bus_name }}" name="b_name" class="form-control">
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>Business Address</label>
                                <input type="text" value="{{ s_show.bus_address }}" name="b_address" class="form-control">
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-7 col-12">
                                <label>Business Email</label>
                                <input type="email" value="{{ s_show.bus_email }}" name="b_email" class="form-control">
                                <div class="invalid-feedback">
                                  Please fill in the email
                                </div>
                              </div>
                              <div class="form-group col-md-5 col-12">
                                <label>Phone</label>
                                <input type="tel" name="b_tel" class="form-control" value="{{ show }}" readonly>
                              </div>
                            </div>
                            <div class="row">

                            </div>
{#                            <div class="custom-file">#}
{#                                <input type="file" class="custom-file-input" id="customFile">#}
{#                                <label class="custom-file-label" for="customFile">Upload CAC Certificate</label>#}
{#                            </div>#}
                            <div class="form-group">
                                <label>Company Website</label>
                                <input type="url" name="b_url" value="{{ s_show.bus_website }}" class="form-control" placeholder="http://www.abc.com">
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <input type="submit" name="submit" value="Become Merchant" class="btn btn-primary">
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="api" role="tabpanel" aria-labelledby="profile-tab2">
                        <form method="POST" action="api" >
                            {% csrf_token %}
                          <div class="card-header">
                            <h4>Your API</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>Live API</label>
                                <input type="hidden" name="user" value="{{ user.username }}" class="form-control" readonly>
                                <input type="text" value="{{ s_show.api_test_key }}" class="form-control" readonly>
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>Test API</label>
                                <input type="text" value="{{ s_show.api_live_key }}" class="form-control" readonly>
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <input type="submit" name="submit" value="Get API" class="btn btn-primary">
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="bank" role="tabpanel" aria-labelledby="profile-tab2">
                        <form method="POST" action="bank" >
                            {% csrf_token %}
                          <div class="card-header">
                            <h4>Add Bank Details</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>Account Name</label>
                                <input type="text" value="" name="acct_name" class="form-control">
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>Account Number</label>
                                <input type="text" value="" name="acct_no" class="form-control">
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-7 col-12">
                                <label>Bank Name</label>
                                <input type="text" value="" name="bank_name" class="form-control">
                                <div class="invalid-feedback">
                                  Please fill in the email
                                </div>
                              </div>
                            </div>
                            <div class="row">

                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <input type="submit" name="submit" value="Save" class="btn btn-primary">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
            <footer class="main-footer">
        <div class="footer-left">
          Copyright  &copy; {% now "Y" %} Pulse <div class="bullet"></div> Design By <a href="#">Savitech Nigeria</a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'assets/bundles/summernote/summernote-bs4.js'%}"></script>
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js'%}"></script>
</body>
</html>
{% endblock %}