{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>A-Wallet - Solve Dispute</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/codemirror/lib/codemirror.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/codemirror/theme/duotone-dark.css'%}">
  <link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico'%}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
              <span class="badge headerBadge1">
                6 </span> </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Messages
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-message">
                <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="{% static 'assets/img/users/user-5.png'%}" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
                      Ryan</span> <span class="time messege-text">Your payment invoice is
                      generated.</span> <span class="time">12 Min Ago</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link notification-toggle nav-link-lg"><i data-feather="bell"></i>
              <span class="badge headerBadge2">
                3 </span> </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
               <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Welcome to Aegis
                    template! <span class="time">Yesterday</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{% static 'assets/img/user.png'%}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello {{ user.first_name }}</div>
              <a href="/super/profile" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
              </a> <a href="/super/admin_activity" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Activities
              </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="/super/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/super/dashboard"> <img alt="image" src="{% static 'assets/img/logo.png'%}" class="header-logo" /> <span
                class="logo-name">Wallet</span>
            </a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="{% static 'assets/img/userbig.png'%}">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
              <div class="user-role">{{ user.email }}</div>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="/super/dashboard"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="/super/user"><i data-feather="user"></i><span>User</span></a>
            </li>
            <li class="dropdown">
              <a href="/super/activity"><i data-feather="activity"></i><span>Activity</span></a>
            </li>
            <li class="dropdown">
              <a href="/super/voucher"><i data-feather="share"></i><span>Voucher</span></a>
            </li>
            <li class="menu-header">UI Elements</li>
             <li class="dropdown">
              <a href="/super/ticket"><i data-feather="copy"></i><span>Create Ticket</span></a>
            </li>
            <li class="dropdown">
              <a href="/super/dispute"><i data-feather="shopping-bag"></i><span>Dispute</span></a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Ticket ID: {{ show.ticket_id }}</h4>
                  </div>
                  <div class="card-body">
                    <textarea class="form-control" readonly>{{ show.content }}</textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible show fade">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    </div>
                {% endfor %}
                <div class="card">
                  <div class="card-header">
                    <h4>Respond to Ticket</h4>
                  </div>
                   <form method="post" action="/super/resolution">
                   {% csrf_token %}
                    <div class="card-body">
                    <div class="form-group row mb-4">
                        <input type="hidden" name="ticket_id" value="{{ show.ticket_id }}" class="form-control" readonly>
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Subject</label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" name="subject" value="{{ show.subject }}" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Category</label>
                      <div class="col-sm-12 col-md-7">
                       <input type="text" name="category" value="{{ show.category }}" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Content</label>
                      <div class="col-sm-12 col-md-7">
                        <textarea name="content" class="form-control" required=""></textarea>
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Status</label>
                      <div class="col-sm-12 col-md-7">
                       <select class="form-control selectric" name="ticket_status">
                          <option>Choose Status</option>
                          <option value="Seen">Seen</option>
                          <option value="Processed">Processed</option>
                          <option value="Solved">Solved</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                      <div class="col-sm-12 col-md-7">
                        <input type="submit" name="submit" value="Attend" class="btn btn-primary">
                      </div>
                    </div>
                  </div>
                   </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright  &copy; {% now "Y" %} Pulse <div class="bullet"></div> Design By <a href="#">Savitech Nigeria</a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'assets/bundles/summernote/summernote-bs4.js'%}"></script>
  <script src="{% static 'assets/bundles/codemirror/lib/codemirror.js'%}"></script>
  <script src="{% static 'assets/bundles/codemirror/mode/javascript/javascript.js'%}"></script>
  <script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
  <script src="{% static 'assets/bundles/ckeditor/ckeditor.js'%}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets/js/page/ckeditor.js'%}"></script>
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js'%}"></script>
</body>
</html>
{% endblock %}