{% load static %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
        <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
        <!-- /meta tags -->
        <title>DanfoPay</title>

        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" type="image/x-icon">
        <!-- /site favicon -->

        <!-- Font Icon Styles -->
        <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/gaxon-icon/styles.css'%}">
        <!-- /font icon Styles -->

        <!-- Perfect Scrollbar stylesheet -->
        <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/css/perfect-scrollbar.css'%}">
        <!-- /perfect scrollbar stylesheet -->

        <!-- Load Styles -->    <link rel="stylesheet" href="{% static 'assets/css/semidark-style-1.min.css'%}">
        <!-- /load styles -->

    </head>
    <body class="dt-sidebar--fixed dt-header--fixed">

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <!-- Header -->
            {% include 'header.html' %}
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                {% include 'sidebar.html' %}
                <!-- /sidebar -->
                <!-- Site Content Wrapper -->
                <div class="dt-content-wrapper">

                    <!-- Site Content -->
                    <div class="dt-content">

                        <!-- Grid -->
                        <div class="row">
                            <!-- Grid Item -->
                            <div class="col-12">

                                <!-- Card -->
                                <div class="dt-card">

                                    <!-- Card Header -->
                                    <div class="dt-card__header">

                                        <!-- Card Heading -->
                                        <div class="dt-card__heading">
                                            <h3 class="dt-card__title">Withdraw Money</h3>
                                        </div>
                                    </div>
                                    <div class="dt-card__body">
                                        {% for message in messages %}
                                            <div class="alert alert-success" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        <!-- Form -->
                                        <form method="post" action="withdraw">
                                            {% csrf_token %}
                                            <hr class="border-dashed my-8">
                                            <!-- /separator -->

                                            <!-- Form Row -->
                                            <div class="form-row">
                                                <div class="col-md-10 col-sm-9">
                                                    <select class="form-control" name="bank_name" id="simple-select" required>
                                                        <option>Select Bank</option>
                                                        {% for shows in show %}
                                                            <option value="{{ shows.account_no }}">{{ shows.bank_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <hr class="border-dashed my-8">
                                            <div class="form-row">
                                                <div class="col-md-10 col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">₦</span>
                                                        </div>
                                                        <input id="addon-3" type="number" name="amount" placeholder="Enter Amount" class="form-control" required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">.00</span>
                                                        </div>
                                                    </div>
                                                    <!-- /input group -->
                                                </div>

                                            </div>
                                            <hr class="border-dashed my-8">
                                            <button class="btn btn-primary" type="submit">Withdraw</button>
                                        </form>
                                        <!-- /form -->

                                    </div>
                                    <!-- /card body -->
                                    <div class="dt-content">

                                        <!-- Grid -->
                                        <div class="row">

                                            <!-- Grid Item -->
                                            <div class="col-xl-12">

                                                <!-- Entry Header -->
                                                <div class="dt-entry__header">

                                                    <!-- Entry Heading -->
                                                    <div class="dt-entry__heading">
                                                        <h3 class="dt-entry__title">Withdrawal</h3>
                                                    </div>
                                                    <!-- /entry heading -->

                                                </div>
                                                <!-- /entry header -->

                                                <!-- Card -->
                                                <div class="dt-card">

                                                    <!-- Card Body -->
                                                    <div class="dt-card__body">

                                                        <!-- Tables -->
                                                        <div class="table-responsive">

                                                            <table id="data-table" class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Bank</th>
                                                                    <th>Ref No</th>
                                                                    <th>Amount</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr class="gradeU">
                                                                    {% for withdraw in u_withdraw %}
                                                                        <td>{{ withdraw.bank_name }}</td>
                                                                        <td>{{ withdraw.ref_no }}</td>
                                                                        <td><div class="badge badge-success badge-shadow">₦ {{ withdraw.amount }}</div></td>
                                                                        <td>{{ withdraw.date }}</td>
                                                                        <td><div class="badge badge-success badge-shadow">{{ withdraw.status }}</div></td>
                                                                    {% endfor %}
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                        <!-- /tables -->

                                                    </div>
                                                    <!-- /card body -->

                                                </div>
                                                <!-- /card -->

                                            </div>
                                            <!-- /grid item -->

                                        </div>
                                        <!-- /grid -->

                                    </div>
                                </div>
                                <!-- /card -->

                            </div>
                            <!-- /grid item -->
                        </div>
                        <!-- /grid -->

                    </div>
                    <!-- /site content -->

                    <!-- Footer -->
                    {% include 'footer.html' %}
                    <!-- /footer -->
                </div>
            </main>
        </div>
    </div>
    <!-- /root -->

    <!-- Optional JavaScript -->
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'node_modules/moment/moment.js'%}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <!-- Perfect Scrollbar jQuery -->
    <script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js'%}"></script>
    <!-- /perfect scrollbar jQuery -->

    <!-- masonry script -->
    <script src="{% static 'node_modules/masonry-layout/dist/masonry.pkgd.min.js'%}"></script>
    <script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.js'%}"></script>
    <script src="{% static 'assets/js/functions.js'%}"></script>
    <script src="{% static 'assets/js/customizer.js'%}"></script><!-- Custom JavaScript -->
    <script src="{% static 'assets/js/script.js'%}"></script>
    <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.js'%}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js'%}"></script>
    <script src="{% static 'assets/js/custom/data-table.js'%}"></script>
    </body>
    </html>
{% endblock %}