{% load static %}
{% load humanize %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}

    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->
    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'sidebar.html' %}

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'header.html' %}
            <!-- Main Content Area -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- Form Validation area Start -->
                    <div class="row">
                        <div class="col-12 box-margin height-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Withdraw Fund</h4>
                                    {% for message in messages %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>Warning - </strong> {{ message }}
                                            </div>
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>Success - </strong> {{ message }}
                                            </div>
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>Error - </strong> {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <form class="cmxform" id="commentForm" method="post" action="withdraw">
                                        {% csrf_token %}
                                        <fieldset>
                                            <div class="form-group">
                                                <select class="form-control" name="bank_name">
                                                    <option>Select Bank</option>
                                                    {% for shows in show %}
                                                        <option value="{{ shows.account_no }}">{{ shows.bank_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₦</span>
                                                </div>
                                                <input type="number" class="form-control" name="amount" step=any placeholder="Enter Amount" aria-label="Amount (to the nearest dollar)">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="Withdraw">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 box-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">All Withdrawal</h4>
                                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                        <thead>
                                        <tr>
                                            <th>Bank</th>
                                            <th>Ref No</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        {% for withdraw in u_withdraw %}
                                            <tr>
                                                <td>{{ withdraw.bank_name }}</td>
                                                <td>{{ withdraw.ref_no }}</td>
                                                <td><div class="badge badge-success badge-shadow">₦ {{ withdraw.amount|intcomma }}</div></td>
                                                <td>{{ withdraw.date }}</td>
                                                <td><div class="badge badge-success badge-shadow">{{ withdraw.status }}</div></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/bundle.js'%}"></script>
    <script src="{% static 'js/default-assets/date-time.js'%}"></script>
    <script src="{% static 'js/default-assets/setting.js'%}"></script>
    <script src="{% static 'js/default-assets/fullscreen.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>
    <script src="{% static 'js/default-assets/notification-active.js'%}"></script>
    <script src="{% static 'js/default-assets/active.js'%}"></script>

    <!-- Must needed plugins to the run this Template -->
    <script src="{% static 'js/default-assets/jquery.datatables.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.bootstrap4.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-responsive.min.js'%}"></script>
    <script src="{% static 'js/default-assets/responsive.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-button.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.html5.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.flash.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.print.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.keytable.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.select.min.js'%}"></script>
    <script src="{% static 'js/default-assets/demo.datatable-init.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>

    </body>
    </html>
{% endblock %}